footer {
  @include pie-clearfix;
  @include background(linear-gradient(top left, $tertiary, $quadrary));
  background-color: $quadrary;
  border: 0 solid rgba($secondary, .5);
  border-width: .1em 0 0 0;
  font-size: ms(-1);
  -webkit-font-smoothing: antialiased;
  padding: 0 0 ms(3) 0;
  h4 {
    color: $background-color;
    border-bottom: 1px solid rgba($secondary, .4);
    padding-bottom: ms(-2);
    a, a:link, a:visited, a:active {
      color: inherit;
    }
  }
  ul {
    list-style: none;
    float: left;
    padding: 0 0 0 ms(2);
  }
  li {
    a, a:link, a:visited, a:active {
      color: tint($secondary, 80%);
      @include transition(color .25s);
    }
    a:hover {
      color: tint($secondary, 0%);
      text-decoration: none;
    }
  }
  &:before {
    @extend %logo-icon-dark;
    content: "Sass Conf";
    display: block;
    margin: ms(-1) auto;
    background: $background-color;
    @include breakpoint($medium) {
      float: right;
      margin: ms(-1) 10% ms(-1) 5%;
    }
  }
}