header {
  @extend %logo-lockup-dark;
  padding: 0;
  margin-bottom: ms(-1);
  border-bottom: ms(-5) solid rgba($secondary, .5);
  text-shadow: 0 0 ms(-1) mix($tertiary, $secondary), 0 -1px 0 $quadrary, 0 1px 0 $secondary;
  h1 {
    font-size: 1em;
  }
  a:hover {
    text-decoration: none;
  }
}