header {
  @extend %logo-lockup-dark;
  padding: 0;
  margin-bottom: ms(-1);
  border-bottom: ms(-5) solid rgba($secondary, .5);
  h1 {
    font-size: 1em;
  }
  a:hover {
    text-decoration: none;
  }
}