<div class="v-styleguide">
  <article>
    <h1>Styleguide</h1>

    <p>This is the design team style guide for Sass Conf. The design is <a href="https://github.com/scottkellum/sassconfdesign" target="_blank">open source</a> to fork and contribute back but it is not licenced under an open source licence. Please do not steal this design for any use other than Sass Conf.</p>

    <h2 id="logo">logo</h2>

    <ul class="logo">
      <li>Sass Conf</li>
    </ul>

    <p>This logo is a variation of the <a href="http://dribbble.com/shots/760641-Getting-Sassy-Final-Logo">new Sass logo</a> condensed down to a single mark. The logo is supplied in a custom icon font <a href="/lib/font/sassconflogo.otf">download the font file</a>. Just write <code>S</code> and the logo will show up. All lowercase characters are blank so you can write anything in lowercase for SEO and accessability reasons. This means <code>Sass conf</code> will just show up as the logo.</p>

    <p>For logo lockups just use the class <code>.logo-lockup</code> or <code>%logo-lockup</code>. Use <code>.logo-lockup dark</code> or <code>%logo-lockup-dark</code> for the dark version.</p>

    <div class="logo-lockup">
      Sass Conf
    </div>
    <div class="logo-lockup dark">
      Sass Conf
    </div>

    <p>The circle icon can be used for smaller things. Adding in the circular logo is similar to using the lockup. Just write <code>Sass Conf</code> in your element and add the class<code>.logo-icon</code> or <code>%logo-icon</code>. Use <code>.logo-icon dark</code> or <code>%logo-icon-dark</code> for the dark version.</p>

    <center>
      <div class="logo-icon">
        Sass Conf
      </div>
      <div class="logo-icon dark">
        Sass Conf
      </div>
    </center>

    <h2 id="color">Color</h2>
    <ul class="color-guide">
      <li class="primary">$primary</li>
      <li class="secondary">$secondary</li>
      <li class="tertiary">$tertiary</li>
      <li class="quadrary">$quadrary</li>
    </ul>
    <p>This is an analogous palette derrived from a slight variation of the primary Sass color. The scheme was built with the color-schemer Compass plugin to be easily adjusted. We may end up using the secondary, tertiary, and quadrary colors more than the primary and that is ok, it will make primary pop more.</p>
    <p>Usage of black is not allowed on this site. If you need a dark color, use <code>$quadrary</code> but never use black because it sucks the color out of designs.</p>
    <p>When using these colors in the building of the website always use the variables, never ever use the hex values. That way we can quickly adjust the overall site colors without worrying about where they are used.</p>

    <h2 id="typography">Typography</h2>

    <section class="type-specimen skolar-alrightsans">
      <h3>Skolar & Alright Sans</h3>
      <hgroup>
        <h1>NISI FUGIT delectus repudiandae</h1>
        <h2>NISI FUGIT delectus repudiandae</h2>
        <h3>NISI FUGIT delectus repudiandae</h3>
        <h4>NISI FUGIT delectus repudiandae</h4>
        <h5>NISI FUGIT delectus repudiandae</h5>
        <h6>NISI FUGIT delectus repudiandae</h6>
      </hgroup>
      <p>Nisi fugit delectus repudiandae porro doloremque qui vitae consequatur aliquid tempore dolorum doloribus excepturi atque vero libero enim. Nesciunt ratione reiciendis omnis tempore quod earum veniam provident magni doloribus minima.</p>
      <div class="dark-text">
        <p>Nisi fugit delectus repudiandae porro doloremque qui vitae consequatur aliquid tempore dolorum doloribus excepturi atque vero libero enim. Nesciunt ratione reiciendis omnis tempore quod earum veniam provident magni doloribus minima.</p>
      </div>
      <div class="light-text">
        <p>Nisi fugit delectus repudiandae porro doloremque qui vitae consequatur aliquid tempore dolorum doloribus excepturi atque vero libero enim. Nesciunt ratione reiciendis omnis tempore quod earum veniam provident magni doloribus minima.</p>
      </div>
    </section>

    <h2 id="profiles">Profiles</h2>

    <ul class="profiles">
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
      <li class="profile">
        <img src="https://si0.twimg.com/profile_images/3574590135/6e4d864b20a14f9219370566ce72dcf5.jpeg" class="icon">
        <h3 class="name"><a href="#">John Doe</a></h3>
        <h6 class="name"><a href="#">@johndoe</a></h6>
        <h5 class="occupation">Developer at Omnicorp</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, neque, assumenda est ab natus et consequuntur ad animi dolor fugit unde odio exercitationem obcaecati impedit iusto placeat similique soluta voluptatibus!</p>
      </li>
    </ul>

    <h2 id="sponsors"></h2>

    <ul class="sponsors">
      <li class="sponsor">
        <a href="# "><img src="/lib/img/omnicorp-logo.png" alt=" "></a>
      </li>
      <li class="sponsor">
        <a href="# "><img src="/lib/img/omnicorp-logo.png" alt=" "></a>
      </li>
      <li class="sponsor">
        <a href="# "><img src="/lib/img/omnicorp-logo.png" alt=" "></a>
      </li>
      <li class="sponsor">
        <a href="# "><img src="/lib/img/omnicorp-logo.png" alt=" "></a>
      </li>
    </ul>
    
    <h2 id="calendar">Calendar</h2>

  </article>
</div>