
		<script src="../../js/global.js"></script>
    <script src="../../js/jquery.lettering-0.6.1.min.js"></script>
    <script src="../../js/widowtamer-min.js"></script>



	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>
