<article>

<h1>Open to all</h1>
<p>In the ethos of the community, we are committed to providing number of
  full and partial scholarships to professionals, students, NGOs, anyone that
  wishes to attend the conference.
</p>
<p>If you wish to learn more and contribute to our 2014 Scholasrhip fund,
  reach out to sponsors@sassconf.com</p>

<%= partial "partials/_form-scholarship" %>


</article>
