.blog {
	padding-top: 5%;
	max-width: 50em;
	aside {
		margin-top: ms(2);
		border-top: ms(-4) solid $secondary;
	}
  p img {
    text-align: center;
    display: block;
    margin: 0 auto ms(2) auto
  }
  a ~ p {
    display: none;
  }
}