.v-home {

	.schedule {
		padding-bottom: ms(1);
		@include pie-clearfix;
		li {
			border-radius: ms(-2);
			margin: .5em 0;
			@include breakpoint(60em) {
				width: 49%;
				float: left;
				&:first-child {
					margin-right: 2%;
				}
			}
		}
		h3 {
			opacity: 1;
		}
		img {
			margin-bottom: 1em;
		}
	}

}