.v-home {
	h1, h2 {
		text-align: center;
	}
	p {
		max-width: 40em;
		margin-left: auto;
		margin-right: auto;
	}
	.schedule {
		padding-bottom: ms(1);
		@include pie-clearfix;
		li {
			border-radius: ms(-2);
			margin: .5em 0;
			&.session {
				background-color: mix($tertiary, $secondary);
			}
			@include breakpoint(60em) {
				width: 100%;
				@include jacket(innagural) {
					width: 49%;
					float: left;
					&:first-child {
						margin-right: 2%;
					}
				}
			}
		}
		h3 {
			opacity: 1;
		}
		img {
			margin-bottom: 1em;
		}
	}

	.vision {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		margin-bottom: ms(1);
	}


	.standout {
		padding: 0;
		text-align: center;

		p:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(40em) {

			h1 {
				color: white;
			}

			background-color: $tertiary;
			color: white;
			margin-left: -1em;
			margin-right: -1em;
			padding: 2.5% 5% 5%;
			position: relative;
			@include background-image(linear-gradient(
				to bottom,
				$tertiary,
				$quadrary
			));
			// border-bottom-left-radius: .25em;
			// border-bottom-right-radius: .25em;
			margin: 0 -8.1% ms(1);
		}
	}

	#sizzle {
		@include breakpoint($xlarge) {
			display: block;
			float: right;
			margin-left: 5%;
		}
	}

	.cfp {
		h1 span {
			display: block;
		}

		.standout {
			font-size: ms(1);
		}
	}

	.intro {
		p {
			margin-left: 5%;
		}
	}
	.ticket-terms {
		font-size: ms(-1);
		margin-left: 0;
	}
}