&lt;div class=&quot;demo-animate animate-fade&quot;&gt;&lt;strong&gt;Fade:&lt;/strong&gt; Duration: 0.3s Easing: ease-out (Hover to see effect)&lt;/div&gt;

&lt;div class=&quot;demo-animate animate-move&quot;&gt;&lt;div class=&quot;demo-shape&quot;&gt;&lt;/div&gt;&lt;strong&gt;Movement:&lt;/strong&gt; Duration: 0.8s  Easing: ease-in-out; (Hover to see effect)&lt;/div&gt;