<div class="style-tile">
  {{> organisms-header }}

  <main id="st-main" role="main">
    {{> atoms-headings}}
    {{> organisms-article-body}}
  </main>

  <aside class="st-colors">
    {{> atoms-colors}}
  </aside>

  <aside class="st-images">

  </aside>

  <footer class="st-adjectives">

  </footer>
</div>
