h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-black;
	font-family: $font-family-primary;
	font-style: normal;
}

h1,
h2 {
	letter-spacing: 0.025em;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	line-height: 120%;
	margin: 0 0 0.5em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 1.5em 0;
}

h3 {
	font-size: 1.375em;
	margin: 0 0 1em 0;
}

h4 {
	font-size: 1.25em;
	margin: 0 0 .5em 0;
}

h5 {
	font-size: 1.125em;
	margin: 0 0 .25em 0;
}

h6 {
	font-size: 1em;
	margin: 0;
}