//////////////////////////////
// Body Element
//
// The partial and folder structure for this element should be as follows:
// _body.scss
// body (folder)
//   _mixins.scss
//   _extends.scss
//////////////////////////////

//////////////////////////////
// Body Element Mixins
//////////////////////////////

//////////////////////////////
// Body Element Default Variables
$body-font-stack:        $font-body !default;
$body-text-color:        $cs-text !default;
$body-background-color:  $cs-background !default;
$body-enable-ligatures:  true !default;
$body-extend:            true !default;
//////////////////////////////

@mixin body-base($font: $body-font-stack, $color: $body-text-color, $background: $body-background-color, $ligatures: $body-enable-ligatures, $extend: $body-extend) {
  @if not ($extend) {
    font-family: $font;
    color: $color;
    background: $background;
    margin: 0;
    overflow-x: hidden;
    @if $ligatures {
      @include enable-ligatures();
    }
  }
  @else {
    @extend %body-base;
  }
}


//////////////////////////////
// Body Element Extendable Classes
//////////////////////////////


%body-base {
  @include body-base($extend: false);
}

//////////////////////////////
// Body Element Styles
//////////////////////////////
body {
  @extend %body-base;
  &[data-menu-position='open'] {
    border-left: none;
  }
}
