////////////////////////////////////////////
// LOGO

.logo {
  font-family: sassconf;
  list-style: none;
  padding: 0 0 2em 0;
  color: $primary;
  li {
    text-align: center;
    line-height: 1;
    &:before {
      display: block;
      font-family: $text;
      font-size: 16px;
      content: "LARGE";
      color: $secondary;
      vertical-align: top;
      margin: 2em 0 1em 1em;
    }
    &#{nth-child(1)} {
      font-size: 14em;
    }
    &#{nth-child(2)} {
      font-size: 4em;
      &:before { content: "SMALL"; }
    }
  }
}

.logo-lockup {
  text-align: center;
  color: $primary;
  font-family: $display;
  font-size: 2em;
  padding: .5em;
  border-radius: $radius;
  b {
    font-weight: 400;
    font-family: sassconf;
    display: block;
    font-size: 2em;
    margin: 0 0 -.2em 0;
  }
  &.dark {
    background-color: $quadrary;
    color: $secondary;
  }
}

.logo-color {
  width: 100%;
  list-style: none;
  padding: 0;
  font-family: sassconf;
  @include breakpoint($medium) {
    display: table;
  }
  li {
    font-size: 6em;
    text-align: center;
    border-radius: $radius;
    @include breakpoint($medium) {
      display: table-cell;
    }
    &#{nth-child(1)}, &#{nth-child(3)} {
      color: $primary;
    }
    &#{nth-child(2)}, &#{nth-child(4)} {
      color: $secondary;
      background-color: $quadrary;
    }
  }
}

.logo-icon {
  width: 100%;
  list-style: none;
  padding: 0;
  font-family: sassconf;
  @include breakpoint($medium) {
    display: table;
  }
  li {
    font-size: 2em;
    padding: .5em;
    text-align: center;
    border-radius: $radius;
    @include breakpoint($medium) {
      display: table-cell;
    }
    &#{nth-child(1)}, &#{nth-child(3)} {
      color: $primary;
    }
    &#{nth-child(2)}, &#{nth-child(4)} {
      color: $secondary;
      background-color: $quadrary;
    }
  }
}

////////////////////////////////////////////
// COLOR

ul.color-guide {
  list-style: none;
  padding: 0;
  width: 100%;
  border-radius: $radius;
  overflow: hidden;
  border: 1px solid $tertiary;
  border-bottom-width: 2px;
  @include breakpoint($large) {
    display: table;
  }
  li {
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 3px $quadrary;
    @include breakpoint($large) {
      width: 25%;
      display: table-cell;
    }
    &:after {
      // font-weight: normal;
      display: block;
      font-family: $monospace;
    }
  }
  .primary   {
    background: $primary;
    &:after {
      content: "#{$primary}";
    }
  }
  .secondary {
    background: $secondary;
    &:after {
      content: "#{$secondary}";
    }
  }
  .tertiary  {
    background: $tertiary;
    &:after {
      content: "#{$tertiary}";
    }
  }
  .quadrary  {
    background: $quadrary;
    &:after {
      content: "#{$quadrary}";
    }
  }
}

////////////////////////////////////////////
// TYPOGRAPHY

.type-specimen {
  @include pie-clearfix;
  hgroup * {
    border: none;
    margin: 0 0 .5em 0;
    padding: 0;
  }
  .dark-text, .light-text {
    padding: .1em 1em;
    border-radius: $radius;
    @include breakpoint($medium) {
      width: 50%;
      float: left;
    }
  }
  .dark-text {
    @extend %dark;
  }
}