header {
  hgroup {
    padding: 5% 0;
    @extend %logo-lockup-dark;
  }
  h1 {
    margin: 0;
    font-size: inherit;
  }
  h2 {
    color: $secondary;
    font-family: $text;
    font-size: ms(-1);
    margin: 0;
  }
  border-bottom: ms(-4) solid $secondary;
}