.details {
  margin: 0;
  padding: 0;
  display: table;
  li {
    margin: 0;
    display: inline-table;
    width: 100%;
    @include breakpoint(40em) {
	    padding: 0 .5em;
    	width: 50%;
    }
    @include breakpoint(60em) {
    	width: 33.333%;
    }
  }
  h3 {
    border-top: ms(-5) solid $secondary;
    padding-top: ms(-2);
  }
}