//////////////////////////////
// Typography
//////////////////////////////

// $archer: 'Archer SSm A', 'Archer SSm B', serif;
// $archer-sc: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;
$whitney: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
$whitney-sc: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;
$landmark-dimensional: 'Landmark Dimensional A', 'Landmark Dimensional B';
$landmark-inline: 'Landmark Inline A', 'Landmark Inline B';
$landmark-shadow: 'Landmark Shadow A', 'Landmark Shadow B';
$landmark-regular: 'Landmark Regular A', 'Landmark Regular B';

//////////////////////
// Default font stacks
$font-sans: sans-serif;
$font-serifs: serif;
$font-slab: serif;
$font-mono: 'Source Code Pro', monospace;
//////////////////////

//////////////////////
// General font variables
$font-body: $whitney;
$font-headline: $landmark-inline;
$font-logo: $font-slab;
$font-amp: $font-slab;
//////////////////////

////////////////////////////
// Modular Scale
//
// Values used to determine modular scale values
// http://modularscale.com/
$ms-ratio: $fourth;
// $ms-base: 1em 2.75em;
$ms-base: 16px 44px;
////////////////////////////

//////////////////////
// Font size and line-height
$base-font-size  : ms(0); // 16px
$base-line-px    : 26px;
$base-line-em    : em($base-line-px);
$base-line-height: unitless($base-line-em);
//////////////////////

//////////////////////
// Headings
// create a list of heading sizes, H1 - H6
// default example uses modular scale
$heading-sizes       : em(ms(4)) em(ms(3)) em(ms(2)) em(ms(1)) em(ms(1)) em(ms(1));
$heading-line-heights: unitless(em($base-line-px * 1.5, ms(4))) unitless(em($base-line-px * 1.5, ms(3))) unitless(em($base-line-px * 1.25, ms(2))) unitless(em($base-line-px, ms(1))) unitless(em($base-line-px, ms(1))) unitless(em($base-line-px, ms(1)));

$heading-sizes-small       : em(ms(3)) em(ms(2)) em(ms(1)) em(ms(0)) em(ms(0)) em(ms(0));
$heading-line-heights-small: unitless(em($base-line-px * 1.5, ms(3))) unitless(em($base-line-px * 1.25, ms(2))) unitless(em($base-line-px, ms(1))) false false false;
//////////////////////



// $inline-fonts: true;
// @mixin ss-social-font-face() {
//   @if $inline-fonts == false {
//     @include font-face(
//       'SSSocial',
//       font-files(
//           "ss-social-regular.woff", woff,
//           "ss-social-regular.ttf", truetype,
//           "ss-social-regular.svg#ss-social-regular", svg),
//       'ss-social-regular.eot',
//       normal,
//       normal);
//     @include font-face(
//       'SSSocial',
//       font-files(
//           "ss-social-circle.woff", woff,
//           "ss-social-circle.ttf", truetype,
//           "ss-social-circle.svg#ss-social-circle", svg),
//       'ss-social-circle.eot',
//       bold,
//       normal);
//   } @else {
//     @include font-face(
//       'SSSocial',
//       inline-font-files(
//           "ss-social-regular.woff", woff,
//           "ss-social-regular.ttf", ttf,
//           "ss-social-regular.svg", svg),
//       'ss-social-regular.eot',
//       normal,
//       normal);
//     @include font-face(
//       'SSSocial',
//       inline-font-files(
//           "ss-social-circle.woff", woff,
//           "ss-social-circle.ttf", ttf,
//           "ss-social-circle.svg", svg),
//       'ss-social-circle.eot',
//       bold,
//       normal);
//   }
// }
// @mixin ss-social-classes {
//   /* This triggers a redraw in IE to Fix IE8's :before content rendering. */
//   html:hover [class^="ss-"]{-ms-zoom: 1;}

//   .ss-icon, .ss-icon.ss-social,
//   [class^="ss-"]:before, [class*=" ss-"]:before,
//   [class^="ss-"].ss-social:before, [class*=" ss-"].ss-social:before,
//   [class^="ss-"].right:after, [class*=" ss-"].right:after,
//   [class^="ss-"].ss-social.right:after, [class*=" ss-"].ss-social.right:after {
//     font-family: "SSSocial";
//     font-style: normal;
//     font-weight: normal;
//     text-decoration: none;
//     text-rendering: optimizeLegibility;
//     white-space: nowrap;
//     /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
//     -moz-font-feature-settings: "liga=1";
//     -moz-font-feature-settings: "liga";
//     -ms-font-feature-settings: "liga" 1;
//     -o-font-feature-settings: "liga";
//     font-feature-settings: "liga";
//     -webkit-font-smoothing: antialiased;
//   }

//   .ss-icon.ss-social-circle,
//   [class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
//   [class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after{
//     font-weight: bold;
//   }

//   [class^="ss-"].right:before,
//   [class*=" ss-"].right:before{display:none;content:'';}

//   .ss-facebook:before,.ss-facebook.right:after{content:''}.ss-twitter:before,.ss-twitter.right:after{content:''}.ss-linkedin:before,.ss-linkedin.right:after{content:''}.ss-googleplus:before,.ss-googleplus.right:after{content:''}.ss-tumblr:before,.ss-tumblr.right:after{content:''}.ss-wordpress:before,.ss-wordpress.right:after{content:''}.ss-blogger:before,.ss-blogger.right:after{content:''}.ss-posterous:before,.ss-posterous.right:after{content:''}.ss-youtube:before,.ss-youtube.right:after{content:''}.ss-vimeo:before,.ss-vimeo.right:after{content:''}.ss-flickr:before,.ss-flickr.right:after{content:''}.ss-instagram:before,.ss-instagram.right:after{content:''}.ss-pinterest:before,.ss-pinterest.right:after{content:''}.ss-svpply:before,.ss-svpply.right:after{content:''}.ss-readmill:before,.ss-readmill.right:after{content:''}.ss-dropbox:before,.ss-dropbox.right:after{content:''}.ss-dribbble:before,.ss-dribbble.right:after{content:''}.ss-behance:before,.ss-behance.right:after{content:''}.ss-github:before,.ss-github.right:after{content:''}.ss-octocat:before,.ss-octocat.right:after{content:''}.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:''}.ss-paypal:before,.ss-paypal.right:after{content:''}.ss-kickstarter:before,.ss-kickstarter.right:after{content:''}.ss-foursquare:before,.ss-foursquare.right:after{content:''}.ss-skype:before,.ss-skype.right:after{content:''}.ss-rdio:before,.ss-rdio.right:after{content:''}.ss-spotify:before,.ss-spotify.right:after{content:''}.ss-lastfm:before,.ss-lastfm.right:after{content:''}.ss-mail:before,.ss-mail.right:after{content:'✉'}.ss-like:before,.ss-like.right:after{content:'👍'}.ss-rss:before,.ss-rss.right:after{content:''}
// }


// @include ss-social-font-face;
// @include ss-social-classes;
