&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;h1 class=&quot;section-title&quot;&gt;Our Outdoor Blog&lt;/h1&gt;
		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;section class=&quot;section latest-posts&quot;&gt;
					
					&lt;ul class=&quot;post-list&quot;&gt;
						{{# latest-posts}}
							&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
						{{/ latest-posts}}
					&lt;/ul&gt;
					&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
				&lt;/section&gt;
				{{&gt; molecules-pagination }}
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-recent-tweets }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
		&lt;/div&gt;&lt;!--end two-col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;