////////////////////////////////////////////
// COLOR

ul.color-guide {
  list-style: none;
  padding: 0;
  width: 100%;
  border-radius: $radius;
  overflow: hidden;
  border: 1px solid $tertiary;
  border-bottom-width: 2px;
  @include breakpoint($large) {
    display: table;
  }
  li {
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 3px $quadrary;
    @include breakpoint($large) {
      width: 25%;
      display: table-cell;
    }
    &:after {
      // font-weight: normal;
      display: block;
      font-family: $monospace;
    }
  }
  .primary   {
    background: $primary;
    &:after {
      content: "#{$primary}";
    }
  }
  .secondary {
    background: $secondary;
    &:after {
      content: "#{$secondary}";
    }
  }
  .tertiary  {
    background: $tertiary;
    &:after {
      content: "#{$tertiary}";
    }
  }
  .quadrary  {
    background: $quadrary;
    &:after {
      content: "#{$quadrary}";
    }
  }
}

////////////////////////////////////////////
// TYPOGRAPHY

h2 {
  border-top: 3px solid $secondary;
}
h3 {
  border-top: 2px solid $secondary;
}

.type-specimen {
  @include pie-clearfix;
  hgroup {
    h2, h3, h4, h5, h6 {
      border-top: none;
      line-height: 1;
      font-size: 1em;
      margin: 0 0 .5em 0;
      color: $tertiary;
    }
    h2 { font-size: 2em; }
    h3 { font-size: 1.8em; }
    h4 { font-size: 1.6em; }
    h5 { font-size: 1.3em; }
    h6 { font-size: 1em; }
  }
  .dark-text, .light-text {
    padding: .1em 1em;
    border-radius: $radius;
    @include breakpoint($medium) {
      width: 50%;
      float: left;
    }
  }
  .dark-text {
    background: $quadrary;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  }
}

.omnes-jaflapture {
  hgroup {
    font-family: omnes-pro;
    h2, h3, h4, h5, h6 {
      font-weight: 600;
    }
  }
  p {
    font-family: jaf-lapture;
  }
}

.freightsans {
}

.jaflapture-alrightsans {
  hgroup {
    font-family: jaf-lapture;
  }
  p {
    font-family: "Alright Sans";
  }
}







