/* line 5, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 1, ../../../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 11, ../../../../../../.rvm/gems/ruby-2.1.1/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
img, video { max-width: 100%; height: auto; }

/* line 1, ../scss/global/extends/_helpers.scss */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea { max-width: 100%; }

/* line 9, ../scss/global/extends/_typography.scss */
code { font-family: "Source Code Pro", monospace; }

/* line 47, ../scss/global/extends/_typography.scss */
strong, b { font-weight: bold; }

/* line 51, ../scss/global/extends/_typography.scss */
em { font-style: italic; }

/* line 55, ../scss/global/extends/_typography.scss */
.font-surveyor { font-family: "Surveyor SSm A", "Surveyor SSm B"; }

/* line 46, ../scss/elements/_body.scss */
body { font-family: "Surveyor SSm A", "Surveyor SSm B"; color: black; background: #fcfcfc; margin: 0; overflow-x: hidden; -webkit-font-feature-settings: "liga","dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga","dlig"; -ms-font-feature-settings: "liga","dlig"; -o-font-feature-settings: "liga","dlig"; font-feature-settings: "liga","dlig"; }

/* line 55, ../scss/elements/_body.scss */
body[data-menu-position='open'] { border-left: none; }

/* line 96, ../scss/elements/_form.scss */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea { margin-top: 0; margin-bottom: 1.625em; padding-right: 0.5em; padding-left: 0.5em; height: 2.4375em; border-width: 1px; border-color: #7f7f7f; font-size: 16px; font-family: "Surveyor SSm A", "Surveyor SSm B"; }

/* line 104, ../scss/elements/_form.scss */
textarea { height: 10.5625em; }

/* line 109, ../scss/elements/_form.scss */
label { margin-right: 0.5em; vertical-align: top; line-height: 2.4375em; cursor: pointer; }

/* line 113, ../scss/elements/_form.scss */
input[type="radio"], input[type="checkbox"] { margin-right: 0.25em; margin-left: 0.25em; }

/* line 117, ../scss/elements/_form.scss */
legend { padding: 0 1em; white-space: nowrap; }

/* line 121, ../scss/elements/_form.scss */
fieldset { border-style: dashed; }

/* line 39, ../scss/elements/_heading.scss */
.base--STYLED h1, .base--STYLED h2, .base--STYLED h3, .base--STYLED h4, .base--STYLED h5, .base--STYLED h6 { font-family: "Surveyor SSm A", "Surveyor SSm B"; font-weight: normal; }

/* line 43, ../scss/elements/_heading.scss */
.base--STYLED h1 { font-size: 1.77778em; line-height: 1.37109; margin-bottom: 0.91406em; }

/* line 53, ../scss/elements/_heading.scss */
.base--STYLED h2 { font-size: 1.54688em; line-height: 1.57576; margin-bottom: 1.05051em; }

/* line 63, ../scss/elements/_heading.scss */
.base--STYLED h3 { font-size: 1.33333em; line-height: 1.52344; margin-bottom: 1.21875em; }

/* line 73, ../scss/elements/_heading.scss */
.base--STYLED h4 { font-size: 1.16016em; line-height: 1.40067; }

/* line 81, ../scss/elements/_heading.scss */
.base--STYLED h5 { font-size: 1.16016em; line-height: 1.40067; }

/* line 89, ../scss/elements/_heading.scss */
.base--STYLED h6 { font-size: 1.16016em; line-height: 1.40067; }

/* line 33, ../scss/elements/_html.scss */
html { font-size: 1em; line-height: 1.625; overflow-x: hidden; }

/* line 33, ../scss/elements/_link.scss */
a:not(.button) { color: #878787; }
/* line 18, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):visited { color: #878787; }
/* line 21, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):focus { color: #cccccc; }
/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):hover { color: #cccccc; }
/* line 27, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/links/_link-colors.scss */
a:not(.button):active { color: #cccccc; }

/* line 98, ../scss/elements/_link.scss */
a { text-decoration: none; text-shadow: #fcfcfc -1px 1px 0, #fcfcfc 0 1px 0, #fcfcfc 1px 1px 0; background-image: -moz-linear-gradient(bottom, #ededed 1px, #fcfcfc 2px); background-image: -webkit-linear-gradient(bottom, #ededed 1px, #fcfcfc 2px); background-image: linear-gradient(to top, #ededed 1px, #fcfcfc 2px); }
/* line 47, ../scss/elements/_link.scss */
a:visited { background-image: -moz-linear-gradient(bottom, #ededed 1px, #fcfcfc 2px); background-image: -webkit-linear-gradient(bottom, #ededed 1px, #fcfcfc 2px); background-image: linear-gradient(to top, #ededed 1px, #fcfcfc 2px); }
/* line 50, ../scss/elements/_link.scss */
a:focus { background-image: -moz-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: -webkit-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: linear-gradient(to top, #878787 1px, #fcfcfc 2px); }
/* line 53, ../scss/elements/_link.scss */
a:hover { background-image: -moz-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: -webkit-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: linear-gradient(to top, #878787 1px, #fcfcfc 2px); }
/* line 56, ../scss/elements/_link.scss */
a:active { background-image: -moz-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: -webkit-linear-gradient(bottom, #878787 1px, #fcfcfc 2px); background-image: linear-gradient(to top, #878787 1px, #fcfcfc 2px); }

/* line 36, ../scss/elements/_p.scss */
p { margin-bottom: 1.625em; }

/* line 40, ../scss/elements/_p.scss */
.field-intro p { font-size: 1.16016em; line-height: 1.75084; margin-bottom: 2.03125em; }

/* line 37, ../scss/elements/_table.scss */
table { width: 100%; }

/* line 41, ../scss/elements/_table.scss */
thead { border-bottom: 1px solid #7f7f7f; }

/* line 45, ../scss/elements/_table.scss */
th { font-weight: bold; }

/* line 49, ../scss/components/_a11y.scss */
.a11y--element-invisible, .element-invisible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* line 53, ../scss/components/_a11y.scss */
.a11y--element-focusable { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* line 30, ../scss/components/_a11y.scss */
.a11y--element-focusable:active, .a11y--element-focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* line 116, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'], .big-button, .call-to-action { display: inline-block; border-radius: 0.25em; border: none; font-family: sans-serif; font-weight: normal; text-transform: uppercase; text-decoration: none; }

/* line 119, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'], .call-to-action { padding: 0.2em 0.5em; font-size: 0.9em; line-height: 1.25; }

/* line 123, ../scss/components/_button.scss */
.big-button { padding: 0.5em 0.75em; font-size: 1.1em; line-height: 1.5; }

/* line 127, ../scss/components/_button.scss */
button, input[type='submit'], input[type='reset'], input[type='button'] { color: white; background-color: #a5a5a5; }
/* line 72, ../scss/components/_button.scss */
button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover { background-color: #b8b8b8; }
/* line 85, ../scss/components/_button.scss */
button:active, input[type='submit']:active, input[type='reset']:active, input[type='button']:active { background-color: #d8d8d8; }

/* line 77, ../scss/components/_button.scss */
.big-button.warning:hover { background-color: #dbdbdb; }
/* line 90, ../scss/components/_button.scss */
.big-button.warning:active { background-color: #f3f3f3; }

/* line 140, ../scss/components/_button.scss */
.big-button { color: black; background-color: #c6c6c6; }
/* line 77, ../scss/components/_button.scss */
.big-button:hover { background-color: #ececec; }
/* line 90, ../scss/components/_button.scss */
.big-button:active { background-color: #fcfcfc; }

/* line 145, ../scss/components/_button.scss */
.call-to-action { color: white; background-color: #333333; }
/* line 72, ../scss/components/_button.scss */
.call-to-action:hover { background-color: #525252; }
/* line 85, ../scss/components/_button.scss */
.call-to-action:active { background-color: #858585; }

/* line 9, ../scss/components/_list.scss */
.inline-list { list-style-type: none; }
/* line 6, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_inline-list.scss */
.inline-list, .inline-list li { margin: 0; padding: 0; display: inline; }

/* line 13, ../scss/components/_list.scss */
.no-bullets, .sg-swatch { list-style: none; }
/* line 11, ../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
.no-bullets li, .sg-swatch li { list-style-image: none; list-style-type: none; margin-left: 0; }

/* line 55, ../scss/components/_message.scss */
.message { padding: 0.2em 0.5em; border-style: solid; border-width: .15em; border-radius: .25em; }

/* line 58, ../scss/components/_message.scss */
.message, .message.status, .message.error { color: black; background-color: #d7d7d7; border-color: #b1b1b1; }

/* line 69, ../scss/components/_message.scss */
.big-button.warning, .message.warning { color: black; background-color: #cecece; border-color: #aaaaaa; }

/* line 39, ../scss/components/_pager.scss */
.pager { display: inline; margin: 0; padding: 0; list-style-type: none; }

/* line 42, ../scss/components/_pager.scss */
.pager-first, .pager-previous, .pager-item, .pager-next, .pager-last { display: inline; margin: 0; padding: 0.2em 0.5em; text-transform: uppercase; }

/* line 30, ../scss/patternlab/_patternlab.scss */
.sg-label { white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

/* line 50, ../scss/patternlab/_patternlab.scss */
.sg-ms li { white-space: nowrap; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-0 { font-size: 16px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-1 { font-size: 18.5625px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-2 { font-size: 21.33333px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-3 { font-size: 24.75px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-4 { font-size: 28.44444px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-5 { font-size: 33.0px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-6 { font-size: 37.92593px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-7 { font-size: 44px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-8 { font-size: 50.5679px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-9 { font-size: 58.66667px; }
/* line 54, ../scss/patternlab/_patternlab.scss */
.sg-ms .ms-10 { font-size: 67.42387px; }

@media (min-width: 32em) { /* line 6, ../scss/patternlab/_style-tile.scss */
  #st-main { width: 44.44444%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  /* line 9, ../scss/patternlab/_style-tile.scss */
  .st-colors { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; }
  /* line 12, ../scss/patternlab/_style-tile.scss */
  .st-images { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; }
  /* line 15, ../scss/patternlab/_style-tile.scss */
  .st-adjectives { width: 44.44444%; float: right; margin-left: 0; margin-right: 0; clear: right; } }
