&lt;div class=&quot;style-tile&quot;&gt;
  {{&gt; organisms-header }}

  &lt;main id=&quot;st-main&quot; role=&quot;main&quot;&gt;
    {{&gt; atoms-headings}}
    {{&gt; organisms-article-body}}
  &lt;/main&gt;

  &lt;aside class=&quot;st-colors&quot;&gt;
    {{&gt; atoms-colors}}
  &lt;/aside&gt;

  &lt;aside class=&quot;st-images&quot;&gt;

  &lt;/aside&gt;

  &lt;footer class=&quot;st-adjectives&quot;&gt;

  &lt;/footer&gt;
&lt;/div&gt;
