&lt;div class=&quot;block block-inset&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-landscape-4x3 }} 
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h2 class=&quot;headline&quot;&gt;{{ headline.short }}&lt;/h2&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;