<article>
  <h1>Share. Speak.</h1>
  <p>We know you've got some radical thoughts and ideas, you use Sass.
    Consider <%= link_to 'sharing them at Sass Conf', '#submit' %>.
    Tell us what you've been thinking. Show us what you've been hacking up
    at work or after hours. <strong>Submissions close March 30th.</strong>
  </p>

  <h2 ic="perks">If you’re selected as a speaker</h2>

  <p>All speakers get a free ticket to the conference, including accommodation
    in their own room for the nights of the conference, flight cost, transportation
    to and from the airport, all meals, and all the
    other good stuff.</p>

  <p>If you’ve already bought a ticket, we will give you a full refund if you’re
    selected as a speaker.</p>

  <p>Speakers are very welcome to bring their partner to the conference,
    but they need to buy a Partner ticket.</p>

  <h2>Setting the stage</h2>

 <div id="perspectives">
    <h5>All perspectives</h5>
    <p>Sass is but one of many tools we use in our craft. Consider how your
      presentation is relevant to the Sass community, but don’t feel constrained to
      talking only about Sass or programming/tech.
    </p>
  </div>

  <div id="new-leaders">
    <h5>Fresh ideas and faces</h5>
    <p>
      We highly encourage new talks, radical new ideas and approaches. Be passionate about your chosen topic.
   </p>
    <p>We especially welcome first-time speakers and speakers from other disciplines.</p>
  </div>

  <div id="workshops">
    <h5>Workshops</h5>
    <p>Beginner to advanced levels. Choose from 2 or 4 hour workshop
      sessions. Workshops should be interactive and handson. Your session doesn't
      have to just be about Sass. Ideally, Sass is one
      of the tools in your aresenal. We'd love to see topics from learning new tools
      to implementation to process ideas for small to enterprise teams.
    </p>
  </div>

  <div id="talks">
    <h5>Talks</h5>
    <p>45-minute talks allowed to allow you to go into your topic exploring.
      Take us on a great story through your process or the philosophy behind your
      designs. Share your stories, make us laugh or cringe. We're looking for
      talks that inspire and get us thinking in ways or open our minds
      to new solutions.
    </p>
  </div>

  <p>
    All sessions will be recorded and made available to the public. Catch-up
    with last year's phenomenal spakers.
  </p>


  <section id="submit">
    <h1>Go for it. Applications are still open.</h1>
    <%= partial "partials/_cfp" %>
  </section>


</article>
