&lt;div class=&quot;block block-hero&quot;&gt;
	&lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-landscape-16x9 }} 
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.medium }}&lt;/h2&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;