&lt;li class=&quot;comment-container&quot;&gt;
	&lt;div class=&quot;comment-meta&quot;&gt;
		{{&gt; atoms-avatar }}
		&lt;h4 class=&quot;comment-name&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ name.first }} {{ name.last }}&lt;/a&gt;&lt;/h4&gt;
	&lt;/div&gt;
	&lt;div class=&quot;comment-text&quot;&gt;
		&lt;p&gt;{{ description }}&lt;/p&gt;
	&lt;/div&gt;
&lt;/li&gt;