&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form newsletter-form&quot;&gt;           
    &lt;fieldset&gt;
	    &lt;legend&gt;Sign up for our newsletter&lt;/legend&gt;
	    &lt;label for=&quot;newsletter-scope&quot;&gt;Sign up for our newsletter&lt;/label&gt;
	    &lt;div class=&quot;inline-container&quot;&gt;
	   		&lt;input type=&quot;newsletter&quot; placeholder=&quot;E-mail address&quot; id=&quot;newsletter-field&quot; class=&quot;newsletter-field&quot; /&gt;
	    	&lt;button class=&quot;btn newsletter-submit&quot;&gt;Sign Me Up&lt;/button&gt;
		&lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;