&lt;div class=&quot;tabs&quot;&gt;
	&lt;ul class=&quot;tab-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;active&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;