html {
  background-color: $background-color;
  color: $text-color;
  font-family: $text;
  line-height: 1.4;
  @include breakpoint($small)  { font-size: percentage(18 / 16); }
  @include breakpoint($large) { font-size: percentage(20 / 16); }
  @include breakpoint(40em) {
    background-image: url('/lib/img/bkg.svg');
    @include background-size(cover);
    background-position: center;
    background-attachment: fixed;
  }
}

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

article {
  padding: 0 7% 3em 7%;
  max-width: $xlarge;
  margin: 0 auto;
}

@import "view/home";
@import "view/sponsorship";
@import "view/styleguide";
@import "view/blog";
@import "view/venue";
