.profiles {
  list-style: none;
  padding: 0;
  margin: 0;
  @include clearfix;

  .profile {
    margin: ms(0) 0 ms(0) 0;
    @include breakpoint(ms(7)) {
      float: left;
      width: 48%;
      margin-right: 4%;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    @include breakpoint(ms(8)) {
      &:not(.keynote) {
        width: 31%;
        margin-right: 3%;
        &:nth-child(even) {
          margin-right: 4%;
        }
        &:nth-child(3n+3) {
          margin-right: 0;
        }
	&:nth-child(3n+1) {
	  clear: both;
	}
      }
    }
  }
  .icon {
    border-radius: 50%;
    display: block;
    width: 50%;
    margin: 0 auto;
    @include box-shadow(0 0 0 ms(-3) rgba($secondary, .5));
  }
  p {
    font-size: ms(-.5);
  }
  h3, h6, h5 {
    text-align: center;
  }
  h3 + * {
    margin-top: -1 * ms(-1);
  }
  h4 {
    font-family: $text;
    font-weight: 600;
    font-size: ms(0);
    + * {
      margin-top: ms(-1);
    }
  }
  h5 {
    font-family: $text;
    text-transform: uppercase;
    font-size: ms(-1);
    letter-spacing: .1em;
  }
  .name {

  }
  .occupation {
  }

  summary::-webkit-details-marker,
  .details-marker {
    display: none;
  }
}