.sponsors {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  @include clearfix;
  .sponsor {
    text-align: center;
    display: inline-block;
    font-size: 0;
    @include breakpoint(ms(8)) {
      width: 49%;
    }
    @include breakpoint(ms(9)) {
      width: 33%;
    }
  }
  img {
    width: 75%;
  }
  a {
    opacity: .66;
    @include filter(grayscale(100%));
    @include transition(all .5s);
    &:hover {
      opacity: 1;
      @include filter(grayscale(0%));
    }
  }
}