&lt;div class=&quot;demo&quot;&gt;
	&lt;!--Grid 1up--&gt;
	&lt;div class=&quot;g g-1up&quot;&gt;
		&lt;div class=&quot;gi&quot;&gt;1/1&lt;/div&gt;
	&lt;/div&gt;
	&lt;!--End Grid 1up--&gt;		
&lt;/div&gt;&lt;!--end .demo--&gt;