&lt;section class=&quot;section latest-posts&quot;&gt;
	&lt;h2 class=&quot;section-title&quot;&gt;Latest Posts&lt;/h2&gt;
	&lt;ul class=&quot;post-list&quot;&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
		&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
	&lt;/ul&gt;
	&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;