&lt;div class=&quot;accordion&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;
			&lt;a href=&quot;#&quot; class=&quot;acc-handle&quot;&gt;Accordion 1&lt;/a&gt;
			&lt;div class=&quot;acc-panel&quot;&gt;
			&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;#&quot; class=&quot;acc-handle&quot;&gt;Accordion 2&lt;/a&gt;
			&lt;div class=&quot;acc-panel&quot;&gt;
			&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;#&quot; class=&quot;acc-handle&quot;&gt;Accordion 3&lt;/a&gt;
			&lt;div class=&quot;acc-panel&quot;&gt;
			&lt;/div&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;