//////////////////////////////
// Pager Component Mixins
//////////////////////////////

//////////////////////////////
// Pager Component Default Variables
$pager-container-extend: true !default;
$pager-item-extend: true !default;
//////////////////////////////

@mixin pager-container($extend: $pager-container-extend) {
  @if $extend {
    @extend %pager-container-extend;
  }
  @else {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@mixin pager-item($extend: $pager-item-extend) {
  @if $extend {
    @extend %pager-item-extend;
  }
  @else {
    display: inline;
    margin: 0;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
  }
}


//////////////////////////////
// Pager Mixin Extendable Classes
//////////////////////////////
%pager-container-extend {
  @include pager-container(false);
}
%pager-item-extend {
  @include pager-item(false);
}

%pager {
  @extend %pager-container-extend;
}
%pager-item {
  @extend %pager-item-extend;
}


//////////////////////////////
// Pager Component
//////////////////////////////

.pager {
  @extend %pager;
}
.pager-first {
  @extend %pager-item;
}
.pager-previous {
  @extend %pager-item;
}
.pager-item {
  @extend %pager-item;
}
.pager-next {
  @extend %pager-item;
}
.pager-last {
  @extend %pager-item;
}
