	&lt;fieldset&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;ic&quot;&gt;Color input&lt;/label&gt; &lt;input type=&quot;color&quot; id=&quot;ic&quot; value=&quot;#000000&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;in&quot;&gt;Number input&lt;/label&gt; &lt;input type=&quot;number&quot; id=&quot;in&quot; min=&quot;0&quot; max=&quot;10&quot; value=&quot;5&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;ir&quot;&gt;Range input&lt;/label&gt; &lt;input type=&quot;range&quot; id=&quot;ir&quot; value=&quot;10&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;idd&quot;&gt;Date input&lt;/label&gt; &lt;input type=&quot;date&quot; id=&quot;idd&quot; value=&quot;1970-01-01&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;idm&quot;&gt;Month input&lt;/label&gt; &lt;input type=&quot;month&quot; id=&quot;idm&quot; value=&quot;1970-01&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;idw&quot;&gt;Week input&lt;/label&gt; &lt;input type=&quot;week&quot; id=&quot;idw&quot; value=&quot;1970-W01&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;idt&quot;&gt;Datetime input&lt;/label&gt; &lt;input type=&quot;datetime&quot; id=&quot;idt&quot; value=&quot;1970-01-01T00:00:00Z&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;idtl&quot;&gt;Datetime-local input&lt;/label&gt; &lt;input type=&quot;datetime-local&quot; id=&quot;idtl&quot; value=&quot;1970-01-01T00:00&quot;&gt;&lt;/div&gt;
&lt;/fieldset&gt;