<article>

  <h1>SassConf Code of Conduct</h1>

  <p>SassConf is dedicated and committed to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. Sexual and discriminating language and imagery is not appropriate for any conference venue, including talks.</p>

  <p>We expect participants to follow these rules at all conference venues and conference-related social events. Sponsor or vendor booths, booth staff and volunteers are also subject to the anti-harassment policy.</p>

  <p>Organizers will enforce this code throughout the event. Conference participants violating these rules will be escorted from the conference without a refund.</p>

  <h2>We do not tolerate harassment of conference participants in any form</h2>

  <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>

  <h2>If there's a problem</h2>

  <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by special red badges.</p>

  <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference.</p>

  <h3>Contact Information</h3>

  <p>You can call or text Claudina Sarahe directly at (917) 740-7723.</p>

  <p>This anti-harassment policy is based on the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment" title="Learn more at Geek Feminism Wiki">Geek Feminism wiki</a>, created by the Ada Initiative and other volunteers.</p>

</article>