<article class="about">
  <h1>Two-Day single track conference lead by the most creative minds in the industry.</h1>

  <p>SassConf is the first conference of its kind–– It is the first conference to bring the Sass community together in one location; It is the first, and only, conference fully dedicated to syntactic awesomeness.</p>
  <p>Our goal is to unite the community to shape the future of web. We’ve curated the best minds and leaders to take the stage in New York City for two days of talks, workshops, and panels. </p>


</article>


  <h2>Keynotes</h2>

  <ul class="schedule">
    <li class="session">
      <img src="/lib/img/speakers/chriseppstein.jpg" alt=" ">
      <h2 class="name">It Takes a Village to Raise a Website</h2>
      <h3 class="speaker">Chris Eppstein</h3>
      <p class="description">Chris will talk about the guiding principles that have gotten Sass to where it is today, the vision for where it is going, and how we can't get there without amazing people like you. Together we can make the the entire web a better place for users, designers and developers.</p>
      <div class="time day">
          <h2>Saturday</h2>
          <h3>October 12</h3>
      </div>
    </li>
    <li class="session">
      <img src="/lib/img/speakers/hamptoncatlin.jpg" alt=" ">
      <h2 class="name">The Front End Revolution: A Call to Arms</h2>
      <h3 class="speaker">Hampton Catlin</h3>
      <p class="description">Developing for the front end is fundamentally different than the backend and Let's talk an entirely new approach to the problems we face on the front end, problems which are distinct than the backend solutions we have grown used to. Traditionally minded programmers welcome, but this talk is a siren song for those whose main weapons are HTML, Sass and maybe a touch of Javascript. This is a declaration of independence from the backend.</p>
      <div class="time day">
          <h2>Sunday</h2>
          <h3>October 13</h3>
      </div>
    </li>
  </ul>

<a href="https://maps.google.com/maps?q=Scholastic+Auditorium&hl=en&ll=40.72386,-74.001868&spn=0.011562,0.00736&cid=5745950823002065201&gl=US&t=m&z=16" class="map">
  <h2>
  Scholastic Auditorium
  </h2>
</a>



<article>
  <section id="updates" class="updates">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://sassconf.us5.list-manage1.com/subscribe/post?u=3a8cdc2c932e9e39b71ad40fa&amp;id=bbb1e76d11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Get updates:</label><br>
            <input type="email" value="" placeholder=
            "Email Address" name="EMAIL" class="required email" id="mce-EMAIL" required>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
  </section>
  <section id="contact" class="contact">
    <hr>
    <h3 style="text-align: center">Stay in touch</h3>
    <center>
      <a href="https://twitter.com/sassconf">@SassConf</a><br>
      <a href="mailto:info@sassconf.com">info@sassconf.com</a>
    </center>
  </section>

</article>
