<div class="map">
  <h2>
  <a href="https://maps.google.com/maps?q=Scholastic+Auditorium&hl=en&ll=40.72386,-74.001868&spn=0.011562,0.00736&cid=5745950823002065201&gl=US&t=m&z=16">Scholastic Auditorium</a>
  </h2>
</div>

<ul class="schedule">
  <li class="day">
    <h2>Saturday</h2>
    <h3>October 12</h3>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/johnlong.jpg" alt=" ">
    <h2 class="name">Cheap Sass Tricks!</h2>
    <h3 class="speaker">John W. Long</h3>
    <p class="description">Whether its a boss, a coworker, a client, or even a close friend, we all know people who've been reluctant to embrace Sass for the life-saving tool that it is! This talk will be a grab bag of impressive little Sass tricks that will help you sell folks on this gem of a language. We'll look at a number of time-saving techniques, have some fun with a couple of crazy Sass demos, and talk briefly about Sass evangelism.</p>
    <div class="time">
      <span class="start">9:00am</span>
      <span class="end">10:00am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/benbleikamp.jpg" alt=" ">
    <h2 class="name">Sass at GitHub</h2>
    <h3 class="speaker">Ben Bleikamp</h3>
    <p class="description">In 2012 GitHub started using Sass. What started as an experiment in internal apps has become our preferred way to build and style our web applications. In this talk I'll cover how we did it, what we've learned, performance tips, and what we think constitutes good code. We even use Sass when designing for native apps.</p>
    <div class="time">
      <span class="start">10:00am</span>
      <span class="end">11:00am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/chriseppstein.jpg" alt=" ">
    <h2 class="name">It Takes a Village to Raise a Website</h2>
    <h3 class="speaker">Chris Eppstein</h3>
    <p class="description">Chris will talk about the guiding principles that have gotten Sass to where it is today, the vision for where it is going, and how we can't get there without amazing people like you. Together we can make the the entire web a better place for users, designers and developers.</p>
    <div class="time">
      <span class="start">11:00am</span>
      <span class="end">12:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/bermonpainter.jpg" alt=" ">
    <h2 class="name">Sass: Bridging the Designer/Developer Gap</h2>
    <h3 class="speaker">Bermon Painter</h3>
    <p class="description">In this talk both designers and developers will discover: how to work together to craft both visually and programmatically stunning interfaces while wielding the power of Sass, the benefits of using Sass & Compass to create a translation layer from design to code, and (if they both play nice) how to create an interface library with Compass Extensions.</p>
    <div class="time">
      <span class="start">1:00pm</span>
      <span class="end">2:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/dalesande.jpg" alt=" ">
    <h2 class="name">Clean out your Sass junk-drawer</h2>
    <h3 class="speaker">Dale Sande</h3>
    <p class="description">CSS has had a long and sordid past. A developer never sets out with the goal of making a complete and total mess of things. Their intention is not to build something that is practically illegible, impractical to maintain and is limited in scale. But somehow, this is where many inevitably end up.</p>

    <p class="description">Luckily, all is not lost. With some simple strategies, organizational methods and out-of-the box tools, we can really help get that junk-drawer in line.</p>
    <div class="time">
      <span class="start">2:00pm</span>
      <span class="end">3:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/ericmeyer.jpg" alt=" ">
    <h2 class="name">Show Your Work & Share Your Toys</h2>
    <h3 class="speaker">Eric Meyer</h3>
    <p class="description">Sass can do more than name colors and add a -webkit prefix. With Sass we can create a new layer of front-end tools — written by designers, for designers, and integrated directly with our CSS. We can move beyond simple code demos, and actually share the tools we use.
    <p class="description">Together, we'll look at a range of Sass plugins and talk about the entire process — from contributing patches, to developing our own tools, testing, documenting, sharing, and maintaining plugins over time. It's a great way to improve your code, hone your skills, and become part of the front-end community.</p>
    <div class="time">
      <span class="start">3:00pm</span>
      <span class="end">4:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/rachelnabors.jpg" alt=" ">
    <h2 class="name">Animated music videos with CSS3 and HTML5 Audio</h2>
    <h3 class="speaker">Rachel Nabors</h3>
    <p class="description">Award winning cartoonist and front-end developer Rachel Nabors will show you how to make an animated music video using CSS3 animations, HTML5 audio, and JavaScript. Animate images and backgrounds with CSS3. Load assets, loop music, and fire events using JavaScript. This talk is an excellent introduction to CSS3’s shiniest features and HTML5’s audio API. Even if you never need to animate a music video, you’re sure to come away with a head full of ideas.</p>
    <div class="time">
      <span class="start">4:00pm</span>
      <span class="end">5:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/timhettler.jpg" alt=" ">
    <h2 class="name">Sweating the Small Stuff: Recreating Subtle Design Details Using Sass</h2>
    <h3 class="speaker">Tim Hettler</h3>
    <p class="description">Converting small visual details from Photoshop to CSS can be a pain. How do you convert the Photoshop Drop Shadow values to the CSS syntax? How do you scale a gradient? What the %^&$ is a Blend Mode? Many of the common layer styles in Photoshop are impossible - or too time-consuming - to faithfully recreate in CSS. However, with Sass we can utilize functions & mixins to reduce the friction between a static comp and an interactive site without missing any of the details.</p>
    <div class="time">
      <span class="start">5:00pm</span>
      <span class="end">6:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/jackiebalzer.jpg" alt=" ">
    <h2 class="name">Programming? In MY CSS? or, How to program amazing CSS with Sass and Compass functions</h2>
    <h3 class="speaker">Jackie Balzer</h3>
    <p class="description">Being able to program inside CSS is one of the many benefits of Sass, and variables and mixins give you programmability to some degree; but did you know that Sass and Compass have a bunch of amazing built-in functions you can use to do crazy things like generate colors, manipulate lists, create images, and do complex math? In this talk, I'll wield a wide breadth of these functions to do something crazy with CSS: build a weather app.</p>
    <div class="time">
      <span class="start">6:00pm</span>
      <span class="end">7:00pm</span>
    </div>
  </li>
  <li class="day">
    <h2>Sunday</h2>
    <h3>October 13</h3>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/calebwinters.jpg" alt=" ">
    <h2 class="name">Getting Sassy With Foundation 4</h2>
    <h3 class="speaker">Caleb Winters</h3>
    <p class="description">We first went with Sass for Foundation 3, but the preprocessor became a crucial component of Foundation 4. We'll take you through how Sass allowed us to create an all semantic, mobile-first responsive framework. More than that, we'll show you how Sass lets you write exactly the markup you want.</p>
    <div class="time">
      <span class="start">9:00am</span>
      <span class="end">10:00am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/roytomeij.jpg" alt=" ">
    <h2 class="name">$lists: For Fun And Profit;</h2>
    <h3 class="speaker">Roy Tomeij</h3>
    <p class="description">Let's have some fun with lists! We'll take a look at variables beyond the basic colors, strings, and numbers and see how you can put them to work as lists in ways you may not have thought of before. Some things most probably shouldn't ever be used, but hopefully it will inspire you to think about your real-life problems in a new way. As a special treat, we will dive into Sass 3.3's Data Maps feature as well! So come max() it out and join() the party, work those abs(), and stay within scope. Let's make sure $fun isn't undefined!</p>
    <div class="time">
      <span class="start">10:00am</span>
      <span class="end">11:00am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/hamptoncatlin.jpg" alt=" ">
    <h2 class="name">The Front End Revolution: A Call to Arms</h2>
    <h3 class="speaker">Hampton Catlin</h3>
    <p class="description">Developing for the front end is fundamentally different than the backend and Let's talk an entirely new approach to the problems we face on the front end, problems which are distinct than the backend solutions we have grown used to. Traditionally minded programmers welcome, but this talk is a siren song for those whose main weapons are HTML, Sass and maybe a touch of Javascript. This is a declaration of independence from the backend.</p>
    <div class="time">
      <span class="start">11:00am</span>
      <span class="end">12:00pm</span>
    </div>
  </li>
  <li class="session pannel">
    <div class="pannelimgs">
      <img src="/lib/img/speakers/johnathayde.jpg" alt=" ">
      <img src="/lib/img/speakers/elyseholladay.jpg" alt=" ">
      <img src="/lib/img/speakers/rachelober.jpg" alt=" ">
      <img src="/lib/img/speakers/pamselle.jpg" alt=" ">
    </div>
    <h2 class="name">Custom Framework/Style Guide Panel</h2>
    <h3 class="speaker">John Athayde, Elyse Holladay, Rachel Ober and Pam Selle</h3>
    <p class="description">We will be holding Custom Framework and Style Guide panels at SassConf. The panels are designed to get an array of opinions about a topic out and to get a conversation going.</p>
    <div class="time">
      <span class="start">1:00pm</span>
      <span class="end">3:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/iancarrico.jpg" alt=" ">
    <h2 class="name">Take the Pain Out of Sass</h2>
    <h3 class="speaker">Ian Carrico</h3>
    <p class="description">Managing multiple projects, multiple developers, or different development environments on a project makes Sass quickly go from an awesome tool to a painful test in debugging. But it does not have to be this way! There are tools, and methods to quickly and easily manage each individual project to use consistent versions of Ruby, the proper gems, and deploy code in an easy and consistent manner.</p>
    <p class="description">This workshop will show you how to utilize rbenv, bundler, and grunt.js to create a simple and easy workflow for your team. It is guaranteed to take the pain out of the Sass development process, and allow your developers to do what they do best: develop.</p>
    <div class="time">
      <span class="start">3:00pm</span>
      <span class="end">4:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/jinabolton.jpg" alt=" ">
    <h2 class="name">Realigning & Refactoring UI</h2>
    <h3 class="speaker">Jina Bolton</h3>
    <p class="description">Often designers and developers see Markup and CSS Refactoring as a dreaded, monolithic task. Organization, architecture, clean up, optimization, documentation all seem tedious and overwhelming. However, if you're armed with the right tools and a solid foundation, you may find refactoring to be actually quite fun. Learn some Sass, markup, and documentation tips & tricks from a product designer's perspective. Start making refactoring a regular part of your design process and development workflows.</p>
    <div class="time">
      <span class="start">4:00pm</span>
      <span class="end">5:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/johnwilkins.jpg" alt=" ">
    <h2 class="name">Managing Complex Projects with Design Components</h2>
    <h3 class="speaker">John Albin Wilkins</h3>
    <p class="description">Our CSS sucks. We've been building sites for over a decade using crappy, ornamentation techniques and shoddy selectors. Our styles unintentional bleed across the site. Our stylesheets are fragile and unmaintainable and full of specificity landminds. Pandas wander alone in the wilderness.</p>
    <p class="description">But there's no need to drown ourselves in beer. New techniques like OOCSS, SMACSS and BEM show us that planning before building can make our projects maintainable, easier to debug, and smaller with reduced CSS file sizes.</p>
    <p class="description">This workshop will introduce the basic techniques for CSS layering and using design components, the heart of any front-end CSS project. We will also discuss Sass organization and tips to more easily implement these ideas.</p>
    <p class="description">Please bring a website design with you to try out these techniques on your own work!</p>
    <div class="time">
      <span class="start">5:00pm</span>
      <span class="end">6:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/masonwendell.jpg" alt=" ">
    <h2 class="name">Designing in the Browser, Live</h2>
    <h3 class="speaker">Mason Wendell</h3>
    <p class="description">We're going to do it live! There's been a lot of talk over the last few years about designing "in the browser", and with good reason. Why design a picture of a website when we can use the tools we use to make websites to design websites. With Sass, Compass, extensions, web fonts, and web-based design apps a dispersed but very effective set of tools have emerged to make designing in the browser accessible for all of us. But how does that work, exactly? Where do you start? Do we just start with a blank .scss file and start typing? Do I really have to delete Photoshop?</p>
    <p class="description">Well lets turn that talk into action. We'll start with a basic project brief, branding id and materials, and some sample content. Then we'll dive in, using all the tools at our disposal to see how much of a web design we can turn out in the time we have. This will be participatory. This will be an experiment. This may fail spectacularly. Sounds fun, right?</p>
    <div class="time">
      <span class="start">6:00pm</span>
      <span class="end">7:00pm</span>
    </div>
  </li>
</ul>
<article>
  <section id="updates" class="updates">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://sassconf.us5.list-manage1.com/subscribe/post?u=3a8cdc2c932e9e39b71ad40fa&amp;id=bbb1e76d11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Get updates:</label><br>
            <input type="email" value="" placeholder=
            "Email Address" name="EMAIL" class="required email" id="mce-EMAIL" required>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
  </section>
  <section id="contact" class="contact">
    <hr>
    <h3 style="text-align: center">Stay in touch</h3>
    <center>
      <a href="https://twitter.com/sassconf">@SassConf</a><br>
      <a href="mailto:info@sassconf.com">info@sassconf.com</a>
    </center>
  </section>

</article>
