<article class="venue">

	<h1>Schoolastic Auditorium</h1>
	<h3>557 Broadway, New York, NY 10012</h3>

	<div class="venue-map">
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=scholastic+auditorium&amp;fb=1&amp;gl=us&amp;hq=scholastic+auditorium&amp;hnear=0x89c24fa5d33f083b:0xc80b8f06e177fe62,New+York,+NY&amp;cid=0,0,5745950823002065201&amp;ll=40.723993,-73.998302&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
	</div>

	<div class="airbnb">
		<a href="https://www.airbnb.com/s/New-York--NY?checkin=10%2F12%2F2013&checkout=10%2F13%2F2013&source=bb">
			<img src="/lib/img/airbnb-logo.jpg" alt="Airbnb"><br>
			<h4>Find rooms on Airbnb</h4>
		</a>
	</div>

	</article>
</div>