<nav class="global-nav">
  <a href="/" class="global-nav__home">
    <svg viewBox="0 0 16 16"><use xlink:href="#logo"></svg>
  </a>
  <ul class="global-nav__list">
    <li class="global-nav__list__item"><a href="#">item</a></li>
    <li class="global-nav__list__item"><a href="#">item</a></li>
    <li class="global-nav__list__item"><a href="#">item</a></li>
  </ul>
</nav>