<nav class="global-nav">
  <a href="/" class="home">Sass conf</a>
  <ul class="global-nav__list">
    <li class="global-nav__list__item"><a href="#">item</a></li>
    <li class="global-nav__list__item"><a href="#">item</a></li>
    <li class="global-nav__list__item"><a href="#">item</a></li>
  </ul>
</nav>