@font-face {
  font-family: 'uikitregular';
    src: url('/lib/font/uikit.eot');
    src: url('/lib/font/uikit.eot?#iefix') format('embedded-opentype'),
    url('/lib/font/uikit.woff') format('woff'),
    url('/lib/font/uikit.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

%logo-lockup {
  text-align: center;
  color: $primary;
  font-family: $display;
  font-size: 2em;
  padding: .5em;
  &:before {
    content: "S";
    position: relative;
    pointer-events: none;
    z-index: 1;
    font-weight: 400;
    font-family: uikitregular;
    display: block;
    font-size: 2em;
    margin: 0 0 0 0;
  }
}

%logo-lockup-dark {
  @extend %logo-lockup;
  -webkit-font-smoothing: antialiased;
  @include dark-background;
  background-image: url('/lib/img/header.svg');
  @include background-size(cover);
  background-position: center;
  color: $secondary;
}

%logo-icon {
  display: inline-block;
  font-family: uikitregular;
  font-size: 4em;
  color: $primary;
  padding: .25em;
  margin: .25em;
  width: 1em;
  height: 1em;
  @include box-sizing(content-box);
  line-height: 1;
  border-radius: .75em;
}

%logo-icon-dark {
  @extend %logo-icon;
  -webkit-font-smoothing: antialiased;
  @include dark-background;
  color: $secondary;
  @include box-shadow(0 0 0 .05em rgba($secondary, .5));
}