<article>

<p>The description should be moving while hinting at what's to come. Not too long but say something about our vision. maybe name drop some of our big name speakers</p>

<p>Since we are going to have limited space, perhaps the call to action is something along: sign up for early bird tickets. space is limited. 
Contact form (wufoo works well and is free) or contact email information (claudina@sassconf.com sam@sassconf.com)</p>

</article>
