<ul>
	<li>
		<span class="sg-swatch color-black"></span>
		<span class="sg-label">$color-black<br>#000</span>
	</li>
	<li>
		<span class="sg-swatch color-white"></span>
		<span class="sg-label">$color-white<br>#fff</span>
	</li>
</ul>