<p class="font-family-primary">Primary font: "Arial", "Helvetica", sans-serif;</p>
<p class="font-family-primary"><em>Primary font italic: "Arial", "Helvetica", sans-serif;</em></p>
<p class="font-family-primary"><strong>Primary font bold: "Arial", "Helvetica", sans-serif;</strong></p>