h1, h2, h3, h4, h5, h6 {
  font-family: $display;
  font-weight: 400;
  line-height: 1;
  margin: ms(-1) 0 ms(-1) 0;
  color: $tertiary;
}

h1 {
  font-size: ms(2);
}

h2 {
  article > & {
    border-top: 3px solid $secondary;
    padding-top: .3em;
  }
  font-size: ms(1.5);
}

h3 {
  article > & {
    border-top: 2px solid $secondary;
    padding-top: .3em;
  }
  font-size: ms(1);
}

h4 {
  font-size: ms(.6666);
}

h5 {
  font-size: ms(.3333);
}

h6 {
  font-size: 1em;
}

hr {
  border: none;
  height: ms(-4);
  @include background(linear-gradient(top left, $secondary, $tertiary));
  @include transform(skew(-45deg));
  border-top-right-radius: ms(-4);
  border-bottom-left-radius: ms(-4);
}

%dark {
  background: $quadrary;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  * {
    color: #fff;
  }
}

.center {
  text-align: center;
}