&lt;p class=&quot;hide-small&quot;&gt;This text is hidden on smaller screens&lt;/p&gt;

&lt;p class=&quot;hide-med hide-large&quot;&gt;&lt;em&gt;This text is only visible on smaller screens&lt;/em&gt;&lt;/p&gt;

&lt;p class=&quot;hide-med&quot;&gt;This text is hidden on medium screens only&lt;/p&gt;

&lt;p class=&quot;hide-small hide-large&quot;&gt;&lt;em&gt;This text is only visible on medium screens&lt;/em&gt;&lt;/p&gt;

&lt;p class=&quot;hide-large&quot;&gt;This text is hidden on large screens&lt;/p&gt;

&lt;p class=&quot;hide-small hide-med&quot;&gt;&lt;em&gt;This text is only visible on large screens&lt;/em&gt;&lt;/p&gt;