<aside>
  <% if current_page.url == "/blog/" %>
    <h2>Recent Articles</h2>
  <% else %>
    <h4>Recent Articles</h4>
  <% end %>
  <ol>
    <% blog.articles[0...10].each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  </ol>

<% if current_page.url == "/blog/" %>
    <h2>Tags</h2>
  <% else %>
    <h4>Tags</h4>
  <% end %>
  <ol>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
    <% end %>
  </ol>

</aside>