<article id="call-for-sessions">
  <div id="wufoo-rbtcv7q1ogg0r6">
    Submit your proposal(s) <a href="https://sassconf.wufoo.com/forms/rbtcv7q1ogg0r6">online</a>.
    </div>
    <script type="text/javascript">var rbtcv7q1ogg0r6;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'sassconf',
    'formHash':'rbtcv7q1ogg0r6',
    'autoResize':true,
    'height':'818',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { rbtcv7q1ogg0r6 = new WufooForm();rbtcv7q1ogg0r6.initialize(options);rbtcv7q1ogg0r6.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>
</article>