<%= partial "partials/sponsors" %>

<footer>
  <ul>
    <h4>Core team</h4>
    <li><a href="https://twitter.com/itsmisscs">Claudina Sarahe</a></li>
    <li><a href="https://twitter.com/Snugug">Sam Richard</a></li>
  </ul>
  <ul>
    <h4>Volunteer team</h4>
    <li><a href="https://twitter.com/adekunleoduye">Adekunle Oduye</a></li>
    <li><a href="https://twitter.com/bkjames">Robert James</a></li>
    <li><a href="https://twitter.com/skyefaerie">Aisha Green</a></li>
    <li><a href="www.linkedin.com/in/lissaaguilar">Lissa Aguilar</a></li>
  </ul>
  <ul>
    <h4>Design team</h4>
    <li><a href="https://twitter.com/scottkellum">Scott Kellum</a></li>
    <li><a href="https://twitter.com/adekunleoduye">Adekunle Oduye</a></li>
    <li><a href="https://twitter.com/copasetickid">Rushaine McBean</a></li>
    <li><a href="https://twitter.com/codingdesigner">Mason Wendell</a></li>
  </ul>
  <ul>
    <h4>Stay in touch</h4>
    <li><a href="https://twitter.com/sassconf">@SassConf</a></li>
    <li><a href="mailto:info@Sassconf.com">info@Sassconf.com</a></li>
  </ul>

  <p>© 2013 SassConf Inc. All rights reserved. Find an error or want to add something? Pull requests are welcome over on <a href="https://github.com/scottkellum/sassconfdesign" title="SassConf Design repo">GitHub</a>. Kindly refer to our <a href="/styleguide">styleguide</a>.</p>

  <p>SassConf is dedicated to a <a href="/code-of-conduct.html" title="Code of Conduct">harassment-free</a> and enjoyable conference experience for everyone.</p>

</footer>
