<header>
<div>
  <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1 Basic//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11-basic.dtd">
<svg version="1.1" baseProfile="basic" id="Layer_1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="224px"
   viewBox="0 0 1000 224" xml:space="preserve">
<style type="text/css">
<![CDATA[
  .st0{fill:#241B3E;stroke:#510059;transition:all 2s;}
  .st0:hover{fill:#ff006a;}
]]>
</style>
<polygon class="st0" points="153,224 0,117 0,224 "/>
<polygon class="st0" points="206,141 153,224 234,224 "/>
<polygon class="st0" points="0,117 206,141 153,224 "/>
<polygon class="st0" points="234,224 370,224 206,141 "/>
<polygon class="st0" points="418,117 370,224 206,141 "/>
<polygon class="st0" points="500,224 418,117 370,224 "/>
<polygon class="st0" points="214,63 206,141 418,117 "/>
<polygon class="st0" points="0,117 214,63 206,141 "/>
<polygon class="st0" points="619,224 418,117 500,224 "/>
<polygon class="st0" points="759,224 708,141 619,224 "/>
<polygon class="st0" points="891,224 708,141 759,224 "/>
<polygon class="st0" points="1000,224 926,130 891,224 "/>
<polygon class="st0" points="708,141 926,130 891,224 "/>
<polygon class="st0" points="619,224 708,141 418,117 "/>
<polygon class="st0" points="214,63 464,50 418,117 "/>
<polygon class="st0" points="0,0 214,63 0,117 "/>
<polygon class="st0" points="339,0 214,63 0,0 "/>
<polygon class="st0" points="464,50 339,0 214,63 "/>
<polygon class="st0" points="708,141 702,0 418,117 "/>
<polygon class="st0" points="464,50 702,0 418,117 "/>
<polygon class="st0" points="339,0 464,50 702,0 "/>
<polygon class="st0" points="926,130 1000,0 1000,224 "/>
<polygon class="st0" points="702,0 926,130 1000,0 "/>
<polygon class="st0" points="708,141 926,130 702,0 "/>
</svg>

</div>
  <h1><a href="/">Sass Conf</a></h1>
</header>
