<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
		<a href="/">Home</a>
		<a href="/speaking">Submit a Session</a>
    <a href="/#buy-now">Get tickets</a>
    <a href="/venue">Venue</a>
		<a href="/code-of-conduct">Code of Conduct</a>
	  <div class="button">Menu</div>
	</label>
</nav>