<nav class="m-main-nav">
  <label class="menu-button"><input type="checkbox">
		<a href="/">Home</a>
    <a href="/details">Details</a>
		<a href="/blog">Blog</a>
		<a href="/code-of-conduct.html">Code of Conduct</a>
		<a href="/venue.html">Venue</a>
		<a href="https://tito.io/sassconf/2013" class="tickets">Get tickets</a>

	  <button>Menu</button>
	</label>
</nav>