<!-- <ul class="schedule">
  <% data.speakers.sessions.year_2013.each do |f| %>
    <li class="session">
      <h2 class="name"><%= f.name %></h2>
      <p class="description">Come get you badge, custom Sassy tote and shirt. Hot breakfast&mdash;<%= link_to 'sorry no bagels and schmear here', '/pages/secret-foodie-conf' %>&mdash;to get you reved up for morning's talks.</p>
      <div class="time">
        <span class="start">8:00am</span>
        <span class="end">9:00am</span>
      </div>
    </li>
  <% end %>
</ul>

 -->

<ul class="schedule">
  <li id="day-1" class="day">
    <h2>Saturday</h2>
    <h3>October 12</h3>
  </li>
  <li class="session">
    <h2 class="name">Registration &amp; Breakfast</h2>
      <h3>Co-sponsored by Treehouse</h3>
    <p class="description">Come get you badge, custom Sassy tote and shirt. Hot breakfast&mdash;<%= link_to 'sorry no bagels and schmear here', '/pages/secret-foodie-conf' %>&mdash;to get you reved up for morning's talks.</p>
    <div class="time">
      <span class="start">8:00am</span>
      <span class="end">9:00am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/johnlong.jpg" alt=" ">
    <h2 class="name">Cheap Sass Tricks!</h2>
    <h3 class="speaker">John W. Long</h3>
    <h3 class="occupation">UX Designer at UserVoice</h3>
    <div class="social">
      <a href="https://twitter.com/johnwlong">Twitter</a>
      <a href="https://github.com/jlong/">Github</a>
      <a href="http://wiseheartdesign.com/">website Link</a>
      <a href="http://dribbble.com/johnwlong">Dribbble</a>
    </div>
    <p class="description">Whether its a boss, a coworker, a client, or even a close friend, we all know people who've been reluctant to embrace Sass for the life-saving tool that it is! This talk will be a grab bag of impressive little Sass tricks that will help you sell folks on this gem of a language. We'll look at a number of time-saving techniques, have some fun with a couple of crazy Sass demos, and talk briefly about Sass evangelism.</p>
    <div class="time">
      <span class="start">9:00am</span>
      <span class="end">9:50am</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/benbleikamp.jpg" alt=" ">
    <h2 class="name">Sass at GitHub</h2>
    <h3 class="speaker">Ben Bleikamp</h3>
    <h3 class="occupation">GitHub</h3>
    <div class="social">
      <a href="https://twitter.com/bleikamp">Twitter</a>
      <a href="https://github.com/bleikamp">Github</a>
      <a href="http://bleikamp.com/">website Link</a>
      <a href="http://dribbble.com/bleikamp">Dribbble</a>
    </div>
    <p class="description">In 2012 GitHub started using Sass. What started as an experiment in internal apps has become our preferred way to build and style our web applications. In this talk I'll cover how we did it, what we've learned, performance tips, and what we think constitutes good code. We even use Sass when designing for native apps.</p>
    <div class="time">
      <span class="start">10:00am</span>
      <span class="end">10:50am</span>
    </div>
  </li>
  <li class="session keynote">
    <img src="/lib/img/speakers/chriseppstein.jpg" alt=" ">
    <h2 class="name">It Takes a Village to Raise a Website</h2>
    <h3 class="speaker">Chris Eppstein</h3>
    <h3 class="occupation">Engineer at LinkedIn</h3>
    <div class="social">
      <a href="https://twitter.com/chriseppstein">Twitter</a>
      <a href="https://github.com/chriseppstein">Github</a>
      <a href="http://chriseppstein.github.io/">website Link</a>
      <a href="http://www.linkedin.com/in/chriseppstein">linkedIn</a>
    </div>
    <p class="description">Chris will talk about the guiding principles that have gotten Sass to where it is today, the vision for where it is going, and how we can't get there without amazing people like you. Together we can make the the entire web a better place for users, designers and developers.</p>
    <div class="time">
      <span class="start">11:00am</span>
      <span class="end">11:50am</span>
    </div>
  </li>
  <li class="session">
    <h2 class="name">Lunch on the Terrace</h2>
      <h3>Co-sponsored by Treehouse</h3>
    <div class="time">
      <span class="start">12:00pm</span>
      <span class="end">1:20pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/bermonpainter.jpg" alt=" ">
    <h2 class="name">Sass: Bridging the Designer/Developer Gap</h2>
    <h3 class="speaker">Bermon Painter</h3>
    <h3 class="occupation">UX Designer, Front-End Developer, Web Analytics Professional</h3>
    <div class="social">
      <a href="https://twitter.com/bermonpainter">Twitter</a>
      <a href="https://github.com/bpainter">Github</a>
      <a href="http://bermonpainter.com/">website Link</a>
      <a href="http://dribbble.com/bermonpainter">Dribbble</a>
      <a href="http://www.linkedin.com/in/bermonpainter">linkedIn</a>
    </div>
    <p class="description">In this talk both designers and developers will discover: how to work together to craft both visually and programmatically stunning interfaces while wielding the power of Sass, the benefits of using Sass & Compas to create a translation layer from design to code, and (if they both play nice) how to create an interface library with Compass Extensions.</p>
    <div class="time">
      <span class="start">1:30pm</span>
      <span class="end">2:20pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/dalesande.jpg" alt=" ">
    <h2 class="name">Clean out your Sass junk-drawer</h2>
    <h3 class="speaker">Dale Sande</h3>
    <h3 class="occupation">UI Developer at CodeFellows, Seattle</h3>
    <div class="social">
      <a href="https://twitter.com/anotheruiguy">Twitter</a>
      <a href="https://github.com/blackfalcon">Github</a>
      <a href="http://www.dalesande.com/">website Link</a>
      <a href="http://www.linkedin.com/in/dalesande">linkedIn</a>
    </div>
    <p class="description">CSS has had a long and sordid past. A developer never sets out with the goal of making a complete and total mess of things. Their intention is not to build something that is practically illegible, impractical to maintain and is limited in scale. But somehow, this is where many inevitably end up.</p>

    <p class="description">Luckily, all is not lost. With some simple strategies, organizational methods and out-of-the box tools, we can really help get that junk-drawer in line.</p>
    <div class="time">
      <span class="start">2:30pm</span>
      <span class="end">3:20pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/ericmeyer.jpg" alt=" ">
    <h2 class="name">Show Your Work & Share Your Toys</h2>
    <h3 class="speaker">Eric Meyer</h3>
    <h3 class="occupation">Designer and developer at OddBird</h3>
    <div class="social">
      <a href="https://twitter.com/eriiicam/">Twitter</a>
      <a href="https://github.com/ericam/">Github</a>
      <a href="http://eric.andmeyer.com/">website Link</a>
      <a href="http://dribbble.com/ericam">Dribbble</a>
    </div>
    <p class="description">Sass can do more than name colors and add a -webkit prefix. With Sass we can create a new layer of front-end tools — written by designers, for designers, and integrated directly with our CSS. We can move beyond simple code demos, and actually share the tools we use.
    <p class="description">Together, we'll look at a range of Sass plugins and talk about the entire process — from contributing patches, to developing our own tools, testing, documenting, sharing, and maintaining plugins over time. It's a great way to improve your code, hone your skills, and become part of the front-end community.</p>
    <div class="time">
      <span class="start">3:30pm</span>
      <span class="end">4:20pm</span>
    </div>
  </li>
  <li class="session">
    <h2 class="name">Afternoon Snack</h2>
    <div class="time">
      <span class="start">4:30pm</span>
      <span class="end">5:00pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/scottkellum.jpg" alt=" ">
    <h2 class="name">Color meet code</h2>
    <h3 class="speaker">Scott Kellum</h3>
    <h3 class="occupation">Designer at VOX Media</h3>
    <div class="social">
      <a href="https://twitter.com/scottkellum">Twitter</a>
      <a href="https://github.com/scottkellum">Github</a>
      <a href="http://scottkellum.com/">website Link</a>
      <a href="http://dribbble.com/ScottKellum">Dribbble</a>
    </div>
    <p class="description">Frameworks have been built around every imaginable layout problem but frameworks for color remained largely unexplored. With CSS this was largely impossible, but with variables and color functions in Sass we can build entire color schemes based on simple color math. In this talk I will go over how color works, the math behind it, the functions available, and how to fully integrate color systems into your site.</p>
    <div class="time">
      <span class="start">5:00pm</span>
      <span class="end">5:50pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/timhettler.jpg" alt=" ">
    <h2 class="name">Sweating the Small Stuff: Recreating Subtle Design Details Using Sass</h2>
    <h3 class="speaker">Tim Hettler</h3>
    <h3 class="occupation">Senior Open Standards Developer at R/GA</h3>
    <div class="social">
      <a href="https://twitter.com/timhettler">Twitter</a>
      <a href="https://github.com/timhettler">Github</a>
      <a href="http://www.timhettler.com/">website Link</a>
      <a href="http://dribbble.com/timhettler">Dribbble</a>
      <a href="http://www.linkedin.com/in/timhettler">linkedIn</a>
    </div>
    <p class="description">Converting small visual details from Photoshop to CSS can be a pain. How do you convert the Photoshop Drop Shadow values to the CSS syntax? How do you scale a gradient? What the %^&$ is a Blend Mode? Many of the common layer styles in Photoshop are impossible - or too time-consuming - to faithfully recreate in CSS. However, with Sass we can utilize functions & mixins to reduce the friction between a static comp and an interactive site without missing any of the details.</p>
    <div class="time">
      <span class="start">6:00pm</span>
      <span class="end">6:50pm</span>
    </div>
  </li>
  <li class="session">
    <img src="/lib/img/speakers/jackiebalzer.jpg" alt=" ">
    <h2 class="name">Programming? In MY CSS? or, How to program amazing CSS with Sass and Compass functions</h2>
    <h3 class="speaker">Jackie Balzer</h3>
    <h3 class="occupation">Lead Front End Developer, Behance</h3>
    <div class="social">
      <a href="https://twitter.com/jackiebackwards">Twitter</a>
      <a href="https://github.com/jackie">Github</a>
      <a href="http://jackiebalzer.com/">website Link</a>
    </div>
    <p class="description">Being able to program inside CSS is one of the many benefits of Sass, and variables and mixins give you programmability to some degree; but did you know that Sass and Compass have a bunch of amazing built-in functions you can use to do crazy things like generate colors, manipulate lists, create images, and do complex math? In this talk, I'll wield a wide breadth of these functions to do something crazy with CSS: build a weather app.</p>
    <div class="time">
      <span class="start">7:00pm</span>
      <span class="end">7:50pm</span>
    </div>
  </li>
  <li class="session">
      <h2 class="name">Dinner on the town</h2>
      <p class="description">The only meal we aren't covering. We want you to explore NYC. Take a look at our lists and guides to food near Scholastic & Spin. </p>
      <div class="time">
        <span class="start">8:00pm</span>
        <span class="end">10:00pm</span>
      </div>
  </li>
  <li class="session">
    <h2 class="name"><%= link_to 'Official After Party!', '/pages/parties/'%></h2>
    <h3>Co-sponsored by Shopify</h3>
    <p class="description">Show off your ping pong skills at Spin—the famous ping pong club. <strong>Open bar 10:30pm - 1am</strong>. Word in the commit logs is there's a tournament for sassy ping pong set.</p>
    <div class="time">
      <span class="start">10:00pm</span>
      <span class="end">2:00am</span>
    </div>
  </li>
  <li id="day-2" class="day">
    <h2>Sunday</h2>
    <h3>October 13</h3>
  </li>
  <li class="session">
    <h2 class="name">Breakfast & UnConference SignUp</h2>
    <h3>Co-sponsored by Treehouse</h3>
    <p class="description">Delicious hot breakfast and coffee. <a href="https://hackpad.com/SassConf-UnConference-Oct.-13th-RFCQnAVo8VJ">Sign-up</a> to lead an UnConference session or initiate at SassHack. <strong>Workshops start at 10:00am.</strong></p>
    <div class="time">
      <span class="start">9:00am</span>
      <span class="end">10:00am</span>
    </div>
  </li>
  <li class="session">
    <h2 class="name">UnConference & SassHack</h2>
    <p class="description"><a href="https://hackpad.com/SassConf-UnConference-Oct.-13th-RFCQnAVo8VJ">Lead your own session</a>, contribute to Open Source Sass projects, or attend a workshop.</p>
    <div class="time">
      <span class="start">10:00am</span>
      <span class="end">6:00pm</span>
    </div>
  </li>

  <li class="session">
    <div>
      <img src="/lib/img/speakers/calebwinters.jpg" alt=" ">
      <h2 class="name">Getting Sassy With Foundation 4</h2>
      <h3 class="speaker">Caleb Winters</h3>
      <h3 class="occupation">Designer at ZURB</h3>
      <div class="social">
        <a href="https://twitter.com/cmwinters">Twitter</a>
        <a href="https://github.com/cmwinters">Github</a>
        <a href="http://www.calebwinters.com/">website Link</a>
        <a href="http://dribbble.com/cmwinters">Dribbble</a>
        <a href="http://www.linkedin.com/in/calebwinters">linkedIn</a>
      </div>
      <p class="description">We first went with Sass for Foundation 3, but the preprocessor became a crucial component of Foundation 4. We'll take you through how Sass allowed us to create an all semantic, mobile-first responsive framework. More than that, we'll show you how Sass lets you write exactly the markup you want.</p>
    </div>
    <div>
      <img src="/lib/img/speakers/jinabolton.jpg" alt=" ">
      <h2 class="name">Realigning & Refactoring UI</h2>
      <h3 class="speaker">Jina Bolton</h3>
      <h3 class="occupation">Product Designer at Do</h3>
      <div class="social">
        <a href="https://twitter.com/jina">Twitter</a>
        <a href="https://github.com/jina">Github</a>
        <a href="http://sushiandrobots.com/">website Link</a>
        <a href="http://dribbble.com/jina">Dribbble</a>
      </div>
      <p class="description">Often designers and developers see Markup and CSS Refactoring as a dreaded, monolithic task. Organization, architecture, clean up, optimization, documentation all seem tedious and overwhelming. However, if you're armed with the right tools and a solid foundation, you may find refactoring to be actually quite fun. Learn some Sass, markup, and documentation tips & tricks from a product designer's perspective. Start making refactoring a regular part of your design process and development workflows.</p>
    </div>
    <div class="time">
      <span class="start">10:00am</span>
      <span class="end">11:00am</span>
    </div>
  </li>

  <li class="session">
    <div>
      <img src="/lib/img/speakers/roytomeij.jpg" alt=" ">
      <h2 class="name">$lists: For Fun And Profit;</h2>
      <h3 class="speaker">Roy Tomeij</h3>
      <h3 class="occupation">Parallel entrepreneur & nice guy</h3>
      <div class="social">
        <a href="https://twitter.com/roy">Twitter</a>
        <a href="https://github.com/roytomeij">Github</a>
        <a href="http://roytomeij.com/">website Link</a>
        <a href="http://www.linkedin.com/in/tomeij">linkedIn</a>
      </div>
      <p class="description">Let's have some fun with lists! We'll take a look at variables beyond the basic colors, strings, and numbers and see how you can put them to work as lists in ways you may not have thought of before. Some things most probably shouldn't ever be used, but hopefully it will inspire you to think about your real-life problems in a new way. As a special treat, we will dive into Sass 3.3's Data Maps feature as well! So come max() it out and join() the party, work those abs(), and stay within scope. Let's make sure $fun isn't undefined!</p>
    </div>
    <div>
      <img src="/lib/img/speakers/iancarrico.jpg" alt=" ">
      <h2 class="name">Take the Pain Out of Sass</h2>
      <h3 class="speaker">Ian Carrico</h3>
      <h3 class="occupation">Developer at Four Kitchens</h3>
      <div class="social">
        <a href="https://twitter.com/iamcarrico">Twitter</a>
        <a href="https://github.com/ChinggizKhan">Github</a>
        <a href="http://iamcarrico.com/">website Link</a>
        <a href="http://www.linkedin.com/in/iancarrico">linkedIn</a>
      </div>
      <p class="description">Managing multiple projects, multiple developers, or different development environments on a project makes Sass quickly go from an awesome tool to a painful test in debugging. But it does not have to be this way! There are tools, and methods to quickly and easily manage each individual project to use consistent versions of Ruby, the proper gems, and deploy code in an easy and consistent manner.</p>
      <p class="description">This workshop will show you how to utilize rbenv, bundler, and grunt.js to create a simple and easy workflow for your team. It is guaranteed to take the pain out of the Sass development process, and allow your developers to do what they do best: develop.</p>
    </div>

    <div class="time">
      <span class="start">11:10am</span>
      <span class="end">12:10pm</span>
    </div>
  </li>

  <li class="session">
    <div>
      <img src="/lib/img/speakers/johnwilkins.jpg" alt=" ">
      <h2 class="name">Managing Complex Projects with Design Components</h2>
      <h3 class="speaker">John Albin Wilkins</h3>
      <h3 class="occupation">Drupal 8 Mobile Initiative Lead</h3>
      <div class="social">
        <a href="https://twitter.com/JohnAlbin">Twitter</a>
        <a href="https://github.com/JohnAlbin">Github</a>
        <a href="http://john.albin.net/">website Link</a>
        <a href="http://tw.linkedin.com/in/johnalbin">linkedIn</a>
      </div>
      <p class="description">Our CSS sucks. We've been building sites for over a decade using crappy, ornamentation techniques and shoddy selectors. Our styles unintentional bleed across the site. Our stylesheets are fragile and unmaintainable and full of specificity landminds. Pandas wander alone in the wilderness.</p>
      <p class="description">But there's no need to drown ourselves in beer. New techniques like OOCSS, SMACSS and BEM show us that planning before building can make our projects maintainable, easier to debug, and smaller with reduced CSS file sizes.</p>
      <p class="description">This workshop will introduce the basic techniques for CSS layering and using design components, the heart of any front-end CSS project. We will also discuss Sass organization and tips to more easily implement these ideas.</p>
      <p class="description">Please bring a website design with you to try out these techniques on your own work!</p>
    </div>
    <div>
      <img src="/lib/img/speakers/masonwendell.jpg" alt=" ">
      <h2 class="name">Designing in the Browser, Live</h2>
      <h3 class="speaker">Mason Wendell</h3>
      <h3 class="occupation">Coding Designer at NBC Universal</h3>
      <div class="social">
        <a href="https://twitter.com/codingdesigner">Twitter</a>
        <a href="https://github.com/canarymason/">Github</a>
        <a href="http://thecodingdesigner.com/">website Link</a>
        <a href="http://www.linkedin.com/in/masonwendell">linkedIn</a>
      </div>
      <p class="description">We're going to do it live! There's been a lot of talk over the last few years about designing "in the browser", and with good reason. Why design a picture of a website when we can use the tools we use to make websites to design websites. With Sass, Compass, extensions, web fonts, and web-based design apps a dispersed but very effective set of tools have emerged to make designing in the browser accessible for all of us. But how does that work, exactly? Where do you start? Do we just start with a blank .scss file and start typing? Do I really have to delete Photoshop?</p>
      <p class="description">Well lets turn that talk into action. We'll start with a basic project brief, branding id and materials, and some sample content. Then we'll dive in, using all the tools at our disposal to see how much of a web design we can turn out in the time we have. This will be participatory. This will be an experiment. This may fail spectacularly. Sounds fun, right?</p>
    </div>

    <div class="time">
      <span class="start">12:20pm</span>
      <span class="end">1:20pm</span>
    </div>
  </li>

  <li class="session">
    <h2 class="name">Lunch on the Terrace</h2>
    <h3>Breakfast co-sponsored by Treehouse</h3>
    <div class="time">
      <span class="start">1:30pm</span>
      <span class="end">3:00pm</span>
    </div>
  </li>

  <li class="session pannel">
    <div class="pannelimgs">
      <img src="/lib/img/speakers/johnathayde.jpg" alt=" ">
      <img src="/lib/img/speakers/elyseholladay.jpg" alt=" ">
      <img src="/lib/img/speakers/rachelober.jpg" alt=" ">
      <img src="/lib/img/speakers/pamselle.jpg" alt=" ">
    </div>
    <h2 class="name">Custom Framework/Style Guide Panel</h2>
    <h3 class="speaker"><a href="http://www.boboroshi.com/">John Athayde</a>, <a href="http://www.elyseholladay.com/">Elyse Holladay</a>, <a href="http://rachelober.com/">Rachel Ober</a> and <a href="http://thewebivore.com/">Pam Selle</a></h3>
    <p class="description">We will be holding Custom Framework and Style Guide panels at SassConf. The panels are designed to get an array of opinions about a topic out and to get a conversation going.</p>
    <div class="time">
      <span class="start">3:10pm</span>
      <span class="end">4:40pm</span>
    </div>
  </li>

  <li class="session keynote">
    <img src="/lib/img/speakers/hamptoncatlin.jpg" alt=" ">
    <h2 class="name">The Front End Revolution: A Call to Arms</h2>
    <h3 class="speaker">Hampton Catlin</h3>
    <h3 class="occupation">CTO at Moovweb</h3>
    <div class="social">
      <a href="https://twitter.com/hcatlin">Twitter</a>
      <a href="https://github.com/hcatlin">Github</a>
      <a href="http://www.hamptoncatlin.com/">website Link</a>
      <a href="http://www.linkedin.com/in/hamptoncatlin">linkedIn</a>
    </div>
    <p class="description">Developing for the front end is fundamentally different than the backend and Let's talk an entirely new approach to the problems we face on the front end, problems which are distinct than the backend solutions we have grown used to. Traditionally minded programmers welcome, but this talk is a siren song for those whose main weapons are HTML, Sass and maybe a touch of Javascript. This is a declaration of independence from the backend.</p>
    <div class="time">
      <span class="start">4:50am</span>
      <span class="end">6:00pm</span>
    </div>
  </li>





  <li class="session">
    <h2 class="name">Dinner & Drinks</h2>
    <h3 class="speaker">The Magician</h3>
    <h3 class="occupation">118 Rivington St  Manhattan, NY 10002</h3>
    <p class="description">Stroll over to The Magician for dinner and drinks with friends. Monday's a holiday, folks.</p>
    <div class="time">
      <span class="start">8:30pm</span>
      <span class="end">...</span>
    </div>
  </li>
</ul>
