<aside class="sponsors">
	<h2>A huge thanks to our wonderful
		<%= link_to 'sponsors', '/pages/sponsors' %>
	</h2>
	<div class="tier xl">
		<a href="http://shopify.com/"><img src="/lib/img/sponsors/shopify.png" alt="Shopify"></a>
	</div>
	<div class="tier l">
		<a href="http://teamtreehouse.com/"><img src="/lib/img/sponsors/treehouse.png" alt="Treehouse"></a>
	</div>
	<div class="tier m">
		<a href="http://github.com/"><img src="/lib/img/sponsors/github.png" alt="Github"></a>
		<a href="http://oddbird.net/"><img src="/lib/img/sponsors/oddbird.png" alt="OddBird"></a>
	</div>
	<div class="tier s">
		<a href="http://www.abookapart.com/"><img src="/lib/img/sponsors/bkapart.png" alt="A Book Apart"></a>
		<a href="http://balsamiq.com/"><img src="/lib/img/sponsors/balsalmiq.png" alt="Balsamiq"></a>
		<a href="http://cageapp.com/"><img src="/lib/img/sponsors/cage.png" alt="Cage"></a>
		<a href="http://codepen.com/"><img src="/lib/img/sponsors/codepen.png" alt="Codepen"></a>
		<a href="http://www.houseind.com/"><img src="/lib/img/sponsors/house.png" alt="House Industries"></a>
		<a href="https://www.theleagueofmoveabletype.com/"><img src="/lib/img/sponsors/league.png" alt="League of Movable Type"></a>
		<a href="http://loop11.com/"><img src="/lib/img/sponsors/loop11.png" alt="Loop11"></a>
		<a href="https://www.notism.io/"><img src="/lib/img/sponsors/notism.png" alt="Notism"></a>
		<a href="https://www.manning.com/"><img src="/lib/img/sponsors/manning.png" alt="Manning"></a>
		<a href="http://olark.com/"><img src="/lib/img/sponsors/olark.png" alt="Olark"></a>
		<a href="http://oreilly.com/"><img src="/lib/img/sponsors/oreilly.gif" alt="O'Reilly"></a>
		<a href="http://pragprog.com/.com/"><img src="/lib/img/sponsors/pragprog.png" alt="The Pragmatic Bookshelf"></a>
		<a href="http://rosenfeldmedia.com/"><img src="/lib/img/sponsors/rosenfeld.png" alt="Rosenfeld"></a>
		<a href="http://www.git-tower.com"><img src="/lib/img/sponsors/tower.png" alt="Tower Mac Git Client"></a>
		<a href="https://tutsplus.com/"><img src="/lib/img/sponsors/tutsplus.png" alt="Tuts+"></a>
	</div>
	<h3>and supportive
		<%= link_to 'NYC tech community', '/pages/nyc-community' %>.
	</h3>
	<div class="tier s">
		<a href="http://pivotallabs.com/"><img src="http://railsgirls.com/images/pivotal-labs-logo.png" alt="Pivotal Labs"></a>
		<a href="http://simplereach.com/"><img src="https://si0.twimg.com/profile_images/3738196007/2f06407a8de6de01f871416c877cb099.png" alt="SimpleReach"></a>

	</div>
</aside>