<aside class="sponsors">
	<h2>A huge thanks to our wonderful <a href="blog/tags/sponsors.html">sponsors</a></h2>
	<div class="xl">
	</div>
	<div class="l">
		<a href="http://teamtreehouse.com/"><img src="/lib/img/sponsors/treehouse.png" alt="Treehouse"></a>
	</div>
	<div class="m">
		<a href="http://github.com/"><img src="/lib/img/sponsors/github.png" alt="Github"></a>
		<a href="http://oddbird.net/"><img src="/lib/img/sponsors/oddbird.png" alt="OddBird"></a>
	</div>
	<div class="s">
		<a href="http://www.abookapart.com/"><img src="/lib/img/sponsors/bkapart.png" alt="A Book Apart"></a>
		<a href="http://balsamiq.com/"><img src="/lib/img/sponsors/basalmiq.png" alt="Balsamiq"></a>
		<a href="http://cageapp.com/"><img src="/lib/img/sponsors/cage.png" alt="Cage"></a>
		<a href="https://www.notism.io/"><img src="/lib/img/sponsors/notism.png" alt="Notism"></a>
		<a href="https://www.manning.com/"><img src="/lib/img/sponsors/manning.png" alt="Notism"></a>
		<a href="http://olark.com/"><img src="/lib/img/sponsors/olark.png" alt="Olark"></a>
		<a href="http://pragprog.com/.com/"><img src="/lib/img/sponsors/pragprog.png" alt="The Pragmatic Bookshelf"></a>
		<a href="http://rosenfeldmedia.com/"><img src="/lib/img/sponsors/rosenfeld.png" alt="Rosenfeld"></a>
		<a href="https://tutsplus.com/"><img src="/lib/img/sponsors/tutsplus.png" alt="Tuts+"></a>
	</div>
</aside>