<aside class="sponsors">
	<h1>Stand out.
		<a href="mailto:sponsors@sassconf.com">Sponsor Sass Conf.</a>
	</h1>
	<p>
		If you're looking to put your sponsorship dollars to use,
		we have a few great ideas to get you noticed and contribute to a fun
		experience for our  attendees.</p>
	<p>
		A huge thanks to
		<%= link_to "last year's wonderful sponsors", "/pages/sponsors" %>, especially
		<% data.sponsors.year_2013.core.each do |f| %>
			<span class="sponsor-item"><a href="<%= f.url %>"><%= f.name %></a></span>
		<% end %>
	</p>
</aside>