<aside class="sponsors">
	<h2>A huge thanks to our wonderful sponsors</h2>
	<div class="xl">
	</div>
	<div class="l">
	</div>
	<div class="m">
		<a href="http://teamtreehouse.com/"><img src="/lib/img/sponsors/treehouse.png" alt="Treehouse"></a>
	</div>
	<div class="s">
		<a href="http://cageapp.com/"><img src="/lib/img/sponsors/cage.png" alt="Cage"></a>
		<a href="https://www.notism.io/"><img src="/lib/img/sponsors/notism.png" alt="Notism"></a>
		<a href="http://rosenfeldmedia.com/"><img src="/lib/img/sponsors/rosenfeld.png" alt="Rosenfeld"></a>
		<a href="https://tutsplus.com/"><img src="/lib/img/sponsors/tutsplus.png" alt="Tuts+"></a>
		<a href="http://balsamiq.com/"><img src="/lib/img/sponsors/basalmiq.png" alt="Balsamiq"></a>
	</div>
</aside>