<article>
  <h1>Schedule</h1>
  <p>
    We're in the process of putting together another
    fierce line-up just as phenomenal as <%= link_to 'the last', '/schedule/2013' %>.
    Consider adding yourself to the roster,
    <%= link_to 'apply to speak at Sass Conf 2014', 'cfp' %>.
  </p>
  <p>
    To tie you over, relive last year's conference with
<%= link_to 'these great talks', 'http://vimeo.com/sassconf' %>.
  </p>
</article>
